.plugin {
    background-color: #fff !important;
    box-shadow: 0 1px 3px rgb(25 25 25 / 30%);
    padding: 24px;
    border-radius: 4px;
    max-width: calc(33% - 36px);
    min-width: calc(33% - 36px);
    margin: 0 24px 24px 0;
    min-height: 360px;
    max-height: 360px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 1440px) {
  .plugin {
    max-width: calc(50% - 36px);
    min-width: calc(50% - 36px);
  }
  .platform-actions-column {
    max-width: calc(100% - 48px) !important;
    min-width: calc(100% - 48px) !important;
  }
}

@media screen and (min-width: 1820px) {
  .plugin {
    max-width: calc(25% - 24px);
    min-width: calc(25% - 24px);
  }
  .platform-actions-column {
    max-width: calc(50% - 24px) !important;
    min-width: calc(50% - 24px) !important;
  }
}

.script {
  min-height: 275px;
  max-height: 275px;
}

.script:hover {
  cursor: initial !important;
  box-shadow: 0 1px 3px rgb(25 25 25 / 30%) !important;
}

.plugin:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(12,12,12,.5);
}

.plugin-badge {
    background: #95a5a6;
    padding: 4px 0 4px;
    font-size: 10px;
    border-radius: 4px;
    color: #fff;
    margin-top: auto;
    margin-left: auto;
    width: 88px;
    text-align: center;
    text-transform: uppercase;
}

.plugin-open {
  max-width: calc(100% - 72px);
  min-width: calc(100% - 72px);
  min-height: 100%;
  max-height: 100%;
  overflow: scroll;
}

.plugin pre {
  /* padding: 1rem !important; */
  border: 1px solid #dddddd !important;
  /* margin: 0 0 1rem 0 !important; */
  white-space: pre-wrap;
  /* overflow: auto; */
  line-height: 0.9em !important;
}

.plugin h2 {
  font-size: 1.6em;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.filter {
  padding: 8px;
  background-color: #eee;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  min-width: 100px;
}

.filter-selected {
  background-color: #fb9000;
  color: #fff;
}


.plugin-hidden,
.filtered {
  display: none;
}

.platform {
  display: flex;
  justify-content: center;
  max-height: 425px;
  min-height: 425px;
}

.platform img {
  max-height: 140px;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}

.platform a {
  padding: 8px;
  background-color: #4078c0;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(12,12,12,.5);
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  flex: 1;
  font-size: .9em;
}

.platform-actions-column a:first-child {
  margin-right: 4px;
}

.platform a:nth-child(n+2):last-child {
  margin-left: 4px;
  background-color: #fb9000;
}

.platform p:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  margin-top: auto;
}

.platform-actions-column {
  max-width: calc(66% - 48px);
  min-width: calc(66% - 48px);
}

.platform a:hover {
  cursor: pointer !important;
}

.dark-platform {
  background-color: #2e3031 !important;
}

.dark-platform h2,
.dark-platform p {
  color: #fff;
}

.dark-platform a {
  box-shadow: 0 1px 3px rgba(255,255,255,.5);
}

.break {
  margin: 12px 0;
  clear: both;
}