version: '3'
services:

  service-1:
    build: ./service-1
    networks:
      - mesh
    environment: 
      - PORT=5432
    expose:
      - 5432
    networks:
      mesh:
        ipv4_address: 172.16.239.41

  service-2:
    build: ./service-2
    networks:
      - mesh
    environment: 
      - PORT=5432
    expose:
      - 5432
    networks:
      mesh:
        ipv4_address: 172.16.239.42

  service-3:
    build: ./service-3
    networks:
      - mesh
    environment: 
      - PORT=5432
    expose:
      - 5432
    networks:
      mesh:
        ipv4_address: 172.16.239.43

  service-frontend:
    build: ./service-frontend
    networks:
      - mesh
    environment: 
      - PORT=5432
    expose:
      - 5432
    networks:
      mesh:
        ipv4_address: 172.16.239.44

  otoroshi-service-1:
    image: maif/otoroshi:1.3.1
    networks:
      - mesh
    environment:
      - APP_STORAGE=redis
      - REDIS_HOST=internal-redis
      - PORT=8080
      - SIDECAR_STRICT=true
      - SIDECAR_SERVICE_ID=descriptor-service-1
      - SIDECAR_TARGET=http://service-1:5432
      - SIDECAR_FROM=172.16.239.41
      - SIDECAR_APIKEY_CLIENT_ID=service-1-apikey
      - APP_IMPORT_FROM=/usr/app/otoroshi/imports/mesh.json
    volumes:
      - "./configs:/usr/app/otoroshi/imports"
    expose:
      - 8080
    depends_on:
      - service-1
      - internal-redis
    networks:
      mesh:
        ipv4_address: 172.16.239.31

  otoroshi-service-2:
    image: maif/otoroshi:1.3.1-dev
    networks:
      - mesh
    environment:
      - APP_STORAGE=redis
      - REDIS_HOST=internal-redis
      - PORT=8080
      - SIDECAR_STRICT=true
      - SIDECAR_SERVICE_ID=descriptor-service-2
      - SIDECAR_TARGET=http://service-2:5432
      - SIDECAR_FROM=172.16.239.42
      - SIDECAR_APIKEY_CLIENT_ID=service-2-apikey
      - APP_IMPORT_FROM=/usr/app/otoroshi/imports/mesh.json
    volumes:
      - "./configs:/usr/app/otoroshi/imports"
    expose:
      - 8080
    depends_on:
      - service-2
      - internal-redis
      - otoroshi-service-1
    networks:
      mesh:
        ipv4_address: 172.16.239.32

  otoroshi-service-3:
    image: maif/otoroshi:1.3.1-dev
    networks:
      - mesh
    environment:
      - APP_STORAGE=redis
      - REDIS_HOST=internal-redis
      - PORT=8080
      - SIDECAR_STRICT=true
      - SIDECAR_SERVICE_ID=descriptor-service-3
      - SIDECAR_TARGET=http://service-3:5432
      - SIDECAR_FROM=172.16.239.43
      - SIDECAR_APIKEY_CLIENT_ID=service-3-apikey
      - APP_IMPORT_FROM=/usr/app/otoroshi/imports/mesh.json
    volumes:
      - "./configs:/usr/app/otoroshi/imports"
    expose:
      - 8080
    depends_on:
      - service-3
      - internal-redis
      - otoroshi-service-1
    networks:
      mesh:
        ipv4_address: 172.16.239.33

  otoroshi-service-frontend:
    image: maif/otoroshi:1.3.1-dev
    networks:
      - mesh
    ports:
      - 8081:8080
    environment:
      - APP_STORAGE=redis
      - REDIS_HOST=internal-redis
      - PORT=8080
      - SIDECAR_STRICT=true
      - SIDECAR_SERVICE_ID=descriptor-service-frontend
      - SIDECAR_TARGET=http://service-frontend:5432
      - SIDECAR_FROM=172.16.239.44
      - SIDECAR_APIKEY_CLIENT_ID=service-frontend-apikey
      - APP_IMPORT_FROM=/usr/app/otoroshi/imports/mesh.json
    volumes:
      - "./configs:/usr/app/otoroshi/imports"
    expose:
      - 8080
    depends_on:
      - service-frontend
      - internal-redis
      - otoroshi-service-1
    networks:
      mesh:
        ipv4_address: 172.16.239.34

  otoroshi-gateway:
    image: maif/otoroshi:1.3.1-dev
    networks:
      - mesh
    ports:
      - 8080:8080
    environment:
      - APP_STORAGE=redis
      - REDIS_HOST=gateway-redis
      - PORT=8080
      - APP_IMPORT_FROM=/usr/app/otoroshi/imports/gateway.json
    volumes:
      - "./configs:/usr/app/otoroshi/imports"
    expose:
      - 8080
    depends_on:
      - gateway-redis
    networks:
      mesh:
        ipv4_address: 172.16.239.20

  internal-redis:
    image: redis:4.0.8
    expose:
      - 6379
    networks:
      - mesh
    command: redis-server --appendonly yes
    volumes:
      - ./data/internal-redis-data:/data
  
  gateway-redis:
    image: redis:4.0.8
    expose:
      - 6379
    networks:
      - mesh
    command: redis-server --appendonly yes
    volumes:
      - ./data/gateway-redis-data:/data

networks:
  mesh:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.239.40/24