@import otoroshi.env.Env

@import play.api.libs.json._

@(user: JsValue, session: String, expires: Long, webauthn: Boolean, _env: Env)

@authScript = {
@otoroshi.views.html.frontend.viteJs("genericlogin", _env)
    <script>
        window.__otoroshiReady(function () {
            Otoroshi.selfUpdate({
              expires: @expires,
              webauthn: @webauthn,
              session: '@session',
              user: @Html(Json.stringify(user))
            }, document.getElementById("app"));
        });
    </script>
}

@authStyle = {
    @otoroshi.views.html.frontend.viteCss("genericlogin", _env)
}

@main("Update your profile", _env, moreScripts = authScript, moreStyles = authStyle) {
    <div id="app"></div>
}