body {
    background-color: #373735;
    font-family: 'Raleway', Helvetica, sans-serif;
    padding-top: 	0px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.header {
	/*margin-bottom: 	0px;*/
	border: 	none;
}

@media screen and (min-width: 768px) {
	nav {
		flex-direction: row;
	}
}
nav {
    z-index: 1030;
    position: sticky;
    top: 0;
    background-color: #494948;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.navbar-brand {
    font-size: 18px;
    line-height: 1.4rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hide {
    display: none !important;
}

a {
	text-decoration: none;
}
h3 {
	background-color: #F9B000;
	color: 	white !important;
	font-weight: 	700;
	font-size: 	18px;
	text-align: 	center;
	transition-duration: 0.5s;
}

h3:focus, h3:hover {
    color: white;
}
h3:hover {
    background-color: #ffc02e;
}

.header h3{
	line-height: 	25px;
-webkit-flex-direction: 	column;
-moz-flex-direction: 	column;
-ms-flex-direction: 	column;
-o-flex-direction: 	column;
flex-direction: 	column;
display: 	flex;
}


.jumbotron {
	background-color: #494948;
	color: 	#949ba2;
	text-align: center;
    padding: 40px;
    border-radius: 10px;
}

.logoOtoroshi {
    width: 240px;
    margin-top: 40px;
	margin-bottom: 40px;	
}

h2{
	color: #D80015;
}

footer{
	display: none;
}