body {
    background-color: #373735;
    font-family: 'Raleway', Helvetica, sans-serif;
    padding-top: 	0px;
}

.header {
	/*margin-bottom: 	0px;*/
	border: 	none;
}
h3 {
	background-color: #F9B000;
	color: 	white !important;
	font-weight: 	700;
	font-size: 	18px;
	text-align: 	center;
	transition-duration: 0.5s;
}

h3:focus, h3:hover {
    color: white;
}
h3:hover {
    background-color: #ffc02e;
}

.header h3{
	line-height: 	25px;
-webkit-flex-direction: 	column;
-moz-flex-direction: 	column;
-ms-flex-direction: 	column;
-o-flex-direction: 	column;
flex-direction: 	column;
display: 	flex;
}

.glyphicon-remove-circle {
top: 9px;
    padding-right: 10px;
    font-size: 40px;
}

.jumbotron {
	background-color: #494948;
	color: 	#949ba2;
}

.logoOtoroshi {
    width: 240px;
    margin-top: 40px;
	margin-bottom: 40px;	
}

h2{
	color: #D80015;
}

footer{
	display: none;
}