.breadcrumbs {
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;
}

.breadcrumbs__item {
  background: var(--color-primary);
  color: var(--color-dark);
  outline: none;
  padding: 0.25em 0.75em 0.25em 1.25em;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
  background: var(--color-primary-lighter);
  cursor: pointer;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
  background: var(--color-dark);
  color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
  background:var(--color-primary);
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 1em;
  z-index: 1;
}

.breadcrumbs__item:before {
  background: var(--color-grey);
  margin-left: 1px;
}

.breadcrumbs__item:last-child {
  border-right: none;
}

.breadcrumbs__item.is-active {
  background: var(--color-primary-lighter);
}
