.btn {
  background-color: transparent;
  background: none;
}

.btnsService {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--bg-color_level1);
  padding-bottom: 16px;
  right: 10px;
}

.btnsService + div {
  padding-top: 50px;
}

.displayGroupBtn {
  text-align: right;

  .btn {
    margin-left: 5px;
  }

  .btn-danger:focus {
    outline-color: var(--color-red);
  }
}

.btn-save {
  color: var(--color-white);
  border-color: var(--color-green);
  background-color: var(--color-green);
}

.input-group-btn > .btn,
.input-group-btn > .btn-group {
  margin-left: 4px;
}

.input-group-btn:last-child > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  &:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.content-switch-button {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;

  &-on {
    @extend .content-switch-button;
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
    justify-content: flex-end;
  }

  &-off {
    @extend .content-switch-button;
    background-color: var(--color-white);
    border: 1px solid #dfdfdf;
    justify-content: flex-start;
  }
}

.switch-button {
  background-color: var(--color-white);
  border-radius: 20px;
  cursor: pointer;

  &-on {
    @extend .switch-button;
    width: 20px;
    height: 20px;
    background-color: var(--color-white);
    border-radius: 20px;
  }

  &-off {
    @extend .switch-button;
    width: 22px;
    height: 22px;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid #dfdfdf;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
  }
}

.btn-primary,
.btn-primary:focus, .btn-info, .btn-info:focus {
  color: var(--color_level1);
  border: 1px solid;
  border-color: var(--color-blue);
  background-color: transparent;
  &:hover,
  &.active,
  &.active:hover {
    color: var(--color-white);
    border: 1px solid;
    border-color: var(--color-blue);
    background-color: var(--color-blue);
  }
}

.btn-primaryColor,
.btn-primaryColor:focus {
  color: var(--color-white);
  border: 1px solid;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  &:hover,
  &.active,
  &.active:hover {
    color: var(--color-white);
    border: 1px solid;
    border-color: var(--color-primary-lighter);
    background-color: var(--color-primary-lighter);
  }
}

.btn-secondary,
.btn-secondary:focus {
  color: var(--color_level1);
}

.btn-danger,
.btn-danger:focus {
  color: var(--color_level1);
  border: 1px solid;
  border-color: var(--color-red);
  background-color: transparent;

  &:hover {
    color: var(--color-white);
    border: 1px solid;
    border-color: var(--color-red);
    background-color: var(--color-red);
  }

  .fa-lock {
    color: var(--color_level1);
  }
}

.btn-success,
.btn-success:focus {
  color: var(--color_level1);
  border: 1px solid;
  border-color: var(--color-green);
  background-color: transparent;

  &:hover {
    color: var(--color-white);
    border: 1px solid;
    border-color: var(--color-green);
    background-color: var(--color-green);
  }
}

.btn-dark{
  color: var(--color-white);
  border: 1px solid;
  border-color: var(--color-dark);
  background-color: var(--color-dark);
}

[class*="btn-"].disabled,
[class*="btn-"].disabled:hover,
[class*="btn-"][disabled],
[class*="btn-"][disabled]:hover {
  color: var(--color-dark);
  text-shadow: none;
  background-color:var(--color-grey);
  border-color: var(--color-grey);
}

.btn-radius-25 {
  border-radius: 25px;
}

.pill-mode {
  border: none;
  padding: 2px 0;
  text-align: center;
  background: none;
  z-index: 21;
  position: relative;
  width: 115px;
}

.pill-mode-right {
  left: calc(50% - 4px) !important;
  width: 50% !important;
}

.pill-cursor {
  transition: left 0.25s;
  position: absolute;
  background-color: var(--color-primary);
  color: var(--color-white);
  top: 4px;
  bottom: 4px;
  left: 4px;
  border-radius: 24px;
  width: calc(50% - 8px);
  z-index: 20;
}

.square-button {
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  flex: 1;
  line-height: 0.9rem;
  word-wrap: anywhere;
}
