.cards {
  background-color: var(--bg-color_level2);
  margin: 5px 0px;
  height: 100%;
  border-radius: 12px;
  max-width: 300px;
  min-width: 300px;
  // max-height: 300px;
  min-height: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &-header {
    flex: 1;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    min-height: 150px;
    margin: 12px;
  }
  &-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--bg-color_level3);
    padding: 12px;
  }
  &-title {
    font-weight: bold;
    margin-left: 5px;
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--color_level3);
    text-transform: capitalize;
  }
  &-description {
    margin-right: 0.25rem !important;
    margin-left: 5px;
    margin-bottom: 10px;
    color: var(--color_level3);
  }
}
