.designer {
    pre {
        height: initial !important;
        white-space: pre-wrap;
        /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Ex */
    }

    .flex {
        flex: 1;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .h-100 {
        display: flex;
        min-height: calc(100vh - 162px);
    }

    .relative-container {
        position: relative;
    }

    .d-flex {
        display: flex;
    }

    .d-flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flex-row-center {
        flex-direction: row;
        align-items: center;
    }

    .d-flex-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .elements {
        flex: 1;
        position: relative;
    }

    .element {
        margin: 6px;
        margin-right: 0;
        background-color: var(--bg-color_level3);
        color: var(--color_level3);
        display: flex;
        align-items: center;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        overflow: hidden;
        box-shadow: 0 1px 2px rgba(.25, .25, .25, .6);
        cursor: pointer;
    }

    .element-text {
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        width: 100%;
    }

    .element-arrow {
        color: var(--color_level3);
    }

    .group {
        padding-bottom: 4px;
    }

    .group-icon {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    .element-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 42px;
        height: 42px;
        border-radius: 6px;
        background-color: var(--color-primary);
    }

    div[class^='nestedform__border'] {
        background-color: var(--bg-color_level2);
    }

    .search-group-header,
    .group-header {
        background-color: var(--bg-color_level2);
        display: flex;
        align-items: center;
        font-weight: 500;
        color: var(--color_level2);
        border-right: 3px solid var(--color-primary);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .designer-group-header-icon {
        background-color: var(--color-primary);
        min-width: 42px;
        height: 42px;
    }

    .main-view {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .vertical-line {
        height: 8px;
        width: 8px;
        background-color: #eee;
    }

    .tab {
        margin: 6px 0;
        background: none;
        color: #fff;
        border: none;
        background-color: var(--bg-color_level2);
        border-radius: 8px;
        height: 42px;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tab-selected i {
        color: var(--color-primary);
    }

    form {
        flex: 1;
        padding: 0;
    }

    .flex-grow-1 {
        flex: 1;
    }

    .dot {
        color: $grisTexte;
        border: 1px solid #eee;
        // border-radius: 4px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    .dot-icon {
        color: var(--color_level2);
        font-size: 20;
    }

    .dot-text {
        padding: 4px 12px;
        border-radius: 4px;
        // color: var(--color_level2);
        // white-space: wrap;
        width: fit-content;
    }

    .plugins-stack {
        -ms-overflow-style: none;
        scrollbar-width: none;
        max-height: 85vh;
        overflow-y: scroll;
    }

    .plugins-stack-column::-webkit-scrollbar,
    .plugins-stack::-webkit-scrollbar {
        display: none;
    }

    .form-description {
        background-color: var(--bg-color_level2);
        color: var(--color_level2);
        padding: 12px;
        padding-bottom: 0;

        display: flex;
        margin-bottom: .5rem;
    }

    .input-group-append {
        margin-left: 12px;
    }

    .div-overflowy {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }

    .div-overflowy::-webkit-scrollbar {
        display: none;
    }

    .main-view .ace-editor {
        resize: vertical;
    }

    .report-step {
        width: 100%;
        cursor: pointer;
        background-color: var(--bg-color_level2);
        color: $grisTexte;
        border-radius: 4px;
    }

    .dark-background {
        color: var(--color_level3);
        background-color: var(--bg-color_level3);
    }

    .plugins-stack-column {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
        max-height: calc(100vh - 162px);
        padding-left: 0;
        flex: 3;
        margin-right: calc(var(--bs-gutter-x) * 1);
    }

    .plugins-background-bar {
        height: calc(100% - 12px);
        width: 3px;
        background-color: var(--color-primary);
        position: absolute;
        left: 20px;
        top: 0;
        z-index: -1;
    }

    .frontend-button {
        // z-index: 100;
        position: absolute;
        top: 0;
        left: -12px;
        height: 32px;
        padding-left: 4px;
        border: 1px solid #eee;
        border-right-width: 0;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        align-items: center;
    }

    .frontend-container-button {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .frontend-button-icon {
        font-size: 20px;
    }

    .editor-view-form {
        padding: 0 12px 12px;

        .Select-menu-outer {
            position: relative;
        }
    }

    // .editor-view-form button:first-child {
    //     color: #fff;
    //     border: 1px solid;
    //     border-color: #5cb85c;
    //     background: none;
    //     padding: 0.25rem 0.5rem;
    //     font-size: .875rem;
    //     border-radius: 0.2rem;
    // }

    .editor-view {
        position: absolute;
        // z-index: 100;
        left: 12px;
        right: 0;
        padding-bottom: 80px;
    }

    .editor-view-informations {
        border-bottom: 1px solid var(--color-primary);
        border-right: 0;
        border-radius: 0;
    }

    .editor-view-icon {
        color: var(--color-white);
        border-radius: 0;
    }

    .editor-view-text {
        color: var(--color_level2);
        padding-left: 12px;
    }

    .flow-container {
        background: var(--bg-color_level2)
    }

    .backend-selector {
        padding: 12px;
        // background-color: #404040;
    }

    .toggle-form-buttons,
    .new-backend-button {
        padding: 6px 12px;
        color: #fff;
    }

    .new-backend-button:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .new-backend-button:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .status-dots {
        position: absolute;
        top: 3px;
        right: 3px;
    }

    .legacy-dot,
    .status-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }

    .legacy-dot {
        margin-left: 2px;
        background-color: var(--color-primary);
    }

    .backend-button {
        flex: 0;
        padding: 1px;
        position: relative;
        border: 1px solid #fff;
        // border-radius: 4px;
    }

    .backend-icon {
        position: absolute;
        top: -6px;
        right: -12px;
        font-size: 42px;
        color: #fff;
        background-color: var(--color-primary);
        border-radius: 50%;
        z-index: 100;
    }

    *[data-id="tooltip"] {
        z-index: 1002;
    }

    // input[type="text"],
    // input[type="number"],
    // input[type="password"],
    // input[type="date"],
    // input[type="datetime"],
    // input[type="time"] {
    //     color: #E6E6E6;
    //     background-color: #595959;
    //     border-color: var(--bg-color_level2);
    // }

    // .react-form-select__control,
    // .react-form-select__menu,
    // .react-form-select__single-value {
    //     color: #E6E6E6;
    //     background-color: #595959 !important;
    //     border-color: var(--bg-color_level2);
    // }

    .node-cursor {
        position: absolute;
        top: 0;
        right: -22px;
        bottom: 0;
        align-items: center;
        justify-content: center
    }

    .node-cursor i {
        color: #fff;
        min-width: 22px;
    }

    .delete-node-button i {
        color: #fff;
    }

    .delete-node-button {
        position: absolute;
        top: -7px;
        left: -9px;
        z-index: 10;
        border-radius: 4px;
        min-width: 18px;
        height: 18px;
        background-color: #595959;
        border: 1px solid #fff;
    }

    .plugins-action {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #595959;
    }

    .plugins-action:hover {
        background-color: var(--color-primary);
    }

    .plugins-action-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 5;
        margin-top: 3;
    }

    .designer-modal {
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 4px;
        // background: rgb(73, 73, 72, .98);
        background-color: var(--bg-color_level2);
    }

    .target_information {
        color: #E6E6E6;
        background-color: var(--bg-color_level3);
        border-color: var(--color_level3);
        padding: 4px 8px;
        border-radius: 4px;
        margin-right: 4px;
        font-weight: bold;
        cursor: pointer;
    }

    h3 {
        margin: 0 !important;
    }

    .route-item {
        flex: 1;
        border-radius: 4px;
        background-color: var(--bg-color_level2);
    }

    .route-forms-title {
        color: #fff;
    }

    .route-forms-header {
        border-bottom: 1px solid var(--bg-color_level3);
    }

    div[role*="button"] svg {
        fill: #494849;
    }

    .main-view .cm-editor {
        width: 100%;
        height: 100%;
    }

    .tryit-prettify-button {
        position: absolute;
        top: 16px;
        right: 42px;
        text-transform: uppercase;
        z-index: 100;
    }

    .graphql-form {
        position: absolute;
        top: 1em;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--bg-color_level1);
        z-index: 800;
        border-radius: 4px;

        .sub-container {
            background: var(--bg-color_level2);
            padding: 12px;
            border-radius: 8px;
            margin: 0;
            margin-top: 10px;
            flex: 1;
            padding-right: 24px;
        }
    }

    .graphql-form-type {
        background-color: var(--bg-color_level2);
        border: 1px solid var(--bg-color_level1);
    }

    .graphql-form-element {
        background-color: var(--bg-color_level3);
        color: var(--color_level3);
        margin: 6px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
    }

    .endpoint {
        // cursor: pointer;
        background-color: var(--bg-color_level2);
        border-radius: 4px;
        padding: 4px 8px;
    }

    .generated-endpoint .content-switch-button-off,
    .generated-endpoint .content-switch-button-on {
        margin: 0;
    }

    .endpoint-helper {
        min-width: 30px;
    }

    .endpoint-helper i {
        margin: 0;
    }
}

.wizard {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    background-color: #494948a6;
    transition: all .2s ease-in-out;
}

.wizard--hidden {
    margin-left: 100vw;
}

.wizard-container {
    position: relative;
    background-color: var(--bg-color_level1);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 80vw;
    height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
    box-shadow: 0px 0 2px 1px var(--color-primary)c2;
}

.wizard-container h3 {
    font-size: 2.5em;
}

.wizard-content {
    flex: 1;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

// .wizard-content .btn-save {
//     background-color: var(--color-primary) !important;
//     border-color: var(--color-primary) !important;
// }

.wizard-route-chooser {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    max-height: 80px !important;
    min-height: 80px;

    // color: var(--color_level2);
    // background-color: var(--bg-color_level2);
    // border-color: var(--bg-color_level1);
}

.wizard-route-chooser h3 {
    flex: .3;
    margin: 0;
}

.wizard-route-chooser label {
    flex: 1;
    text-align: start;
}

.wizard-h3--small {
    font-size: 1.25em !important;
    color: #eee;
    +label {
        color: #eee;
    }
}

.designer-modal-dialog {
    max-width: 750px !important;
}

.patch-main {
    .page-header_title {

        h4,
        .dropdown {
            padding-bottom: 9px;
        }

        >div>button {
            margin-bottom: 9px;
        }

        .ms-2:not(.dropdown)>button {
            // border-bottom-left-radius: 0px;
            // border-bottom-right-radius: 0px;

        }
    }
}

.fall-down {
    // transition: top 1.5s;
    // top: 1200px !important;
    animation: leafanimation .85s reverse;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-animation-fill-mode: forwards;
}

.plugins-danger-zone {
    pre {
        height: initial !important;
    }
}

@keyframes leafanimation {
    0% {
        transform: rotate(678deg) translateX(30px);
        top: calc(100vh - 52px);
    }
}

.date-hover--selected {
    background-color: var(--color-primary);
}

.date-hover:hover {
    background-color: var(--bg-color_level3_opa80);
    // color: #000;
}

.scale-in-ver-top {
    -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top .6s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: slide-in-blurred-top .6s cubic-bezier(.23, 1.000, .32, 1.000) both
}


@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@property --dynamic-raw-score {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@property --net-score {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.net-score {
    animation: net-counter 1s ease-in-out forwards;
    counter-reset: net-score var(--net-score);
}

.dynamic-raw-score {
    animation: counter 1s ease-in-out forwards;
    counter-reset: dynamic-raw-score var(--dynamic-raw-score);
}

@keyframes net-counter {
    from {
        --net-score: 0;
    }

    to {
        --net-score: var(--net-score-to);
    }
}

@keyframes counter {
    from {
        --dynamic-raw-score: 0;
    }

    to {
        --dynamic-raw-score: var(--dynamic-raw-score-to);
    }
}

.dynamic-raw-score::after {
    content: counter(dynamic-raw-score);
}

.net-score::after {
    content: counter(net-score);
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.show {
    transform: translateY(0);
    opacity: 1;
}

.animate-loader {
    background: linear-gradient(to bottom, var(--bg-color_level1) 0%, var(--bg-color_level2) 50%, var(--bg-color_level1) 100%);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    animation: animate 5s infinite alternate forwards;
}

@keyframes animate {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}

  
  @keyframes routePlugin {
    from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
  }