.designer {
    pre {
        height: initial !important;
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Ex */
    }

    .flex {
        flex: 1;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .h-100 {
        display: flex;
        min-height: calc(100vh - 135px);
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .hide-overflow {
        overflow: hidden;
    }

    .relative-container {
        position: relative;
    }

    .d-flex {
        display: flex;
    }

    .flex-row-center {
        flex-direction: row;
        align-items: center;
    }

    .d-flex-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .elements {
        flex: 1;
        position: relative;
    }

    .element {
        margin: 6px;
        margin-right: 0;
        background-color: #ecf0f1;
        display: flex;
        align-items: center;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        overflow: hidden;
        box-shadow: 0 1px 2px rgba(.25, .25, .25, .6);
        color: #000;
        cursor: pointer;
    }

    .element-text {
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        width: 100%;
    }

    .element-arrow {
        color: #494948;
    }

    .group {
        padding-bottom: 4px;
    }

    .group-icon {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    .element-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 42px;
        height: 42px;
        border-radius: 6px;
        background-color: #f9b000;
    }

    div[class^='nestedform__border'] {
        background-color: rgb(73, 73, 72);
    }

    .search-group-header,
    .group-header {
        background-color: #494948;
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #000;
        border-right: 3px solid #f9b000;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .designer-group-header-icon {
        background-color: #f9b000;
        min-width: 42px;
        height: 42px;
    }

    .main-view {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .vertical-line {
        height: 12px;
        width: 8px;
        background-color: #eee;
    }

    .tab {
        margin: 6px 0;
        background: none;
        color: #fff;
        border: none;
        background-color: rgb(73, 73, 72);
        border-radius: 8px;
        height: 42px;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tab-selected i {
        color: #f9b000;
    }

    form {
        flex: 1;
        padding: 0;
    }

    .flex-grow-1 {
        flex: 1;
    }

    .dot {
        color: $grisTexte;
        border: 1px solid #eee;
        border-radius: 4px;
        width: 100%;
        min-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    .dot-icon {
        color: #fff;
        font-size: 20;
    }

    .dot-text {
        padding: 4px 12px;
        border-radius: 4px;
        color: #fff;
        white-space: wrap;
        width: fit-content;
    }

    .plugins-stack {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        max-height: 85vh;
        overflow-y: scroll;
    }

    .plugins-stack::-webkit-scrollbar {
        display: none;
    }

    .form-description {
        background-color: $fondNavbar;
        color: $grisTexte;
        padding: 12px;
    }

    .input-group-append {
        margin-left: 12px;
    }

    .div-overflowy {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }

    .div-overflowy::-webkit-scrollbar {
        display: none;
    }

    .main-view .ace-editor {
        resize: vertical;
    }

    .report-step {
        width: 100%;
        cursor: pointer;
        background-color: $fondNavbar;
        color: $grisTexte;
        border-radius: 4px;
    }

    .dark-background {
        background-color: $fondNavbar;
        color: $grisTexte;
        border-radius: 4px;
    }

    .plugins-stack-column {
        max-height: calc(100vh - 135px);
        padding-left: 0;
        flex: 3;
        margin-right: calc(var(--bs-gutter-x) * 1);
    }

    .plugins-background-bar {
        height: calc(100% - 12px);
        width: 3px;
        background-color: #f9b000;
        position: absolute;
        left: 20px;
        top: 0;
        z-index: -1;
    }

    .frontend-button {
        z-index: 100;
        position: absolute;
        top: 0;
        left: -16px;
        height: 36px;
        border: 1px solid #eee;
        border-right-width: 0;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .frontend-container-button {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .frontend-button-icon {
        font-size: 26px;
        color: #fff;
        margin: 3px;
    }

    .arrow-flow {
        width: 72px;
        height: 36px;
        border-radius: 6px;
    }

    .editor-view-form {
        padding: 0 12px 12px;
    }

    .editor-view {
        position: absolute;
        z-index: 100;
        left: 12px;
        right: 0;
        padding-bottom: 80px;
    }

    .editor-view-informations {
        border-bottom: 1px solid #f9b000;
        border-right: 0;
    }

    .editor-view-icon {
        color: #fff;
        border-bottom-left-radius: 0;
    }

    .editor-view-text {
        color: #fff;
        padding-left: 12px;
    }
    
    .flow-container {
        background: rgb(60, 60, 60);
        border-radius: 4px;
    }

    .backend-selector {
        padding: 12px;
        background-color: #404040;
    }

    .toggle-form-buttons,
    .new-backend-button {
        padding: 6px 12px;
        color: #fff;
    }

    .status-dot {
        position: absolute;
        top: 3px;
        right: 3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }

    .backend-button {
        flex: 0;
        background-color: #f9b000;
        padding: 1px;
        position: relative;
    }

    .backend-icon {
        position: absolute;
        top: -3px;
        right: -18px;
        font-size: 42px;
        color: #fff;
        background-color: #f9b000;
        border-radius: 50%;
        z-index: 100;
    }

    *[data-id="tooltip"] {
        z-index: 1002;
    }

    input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="datetime"], input[type="time"] {
        color: #E6E6E6;
        background-color: #595959;
        border-color: #494948;
    }
}