.dropdown-menu {
  background-color: $fondBody;
  > li > a {
    color: $colorGris;
    &:focus,
    &:hover {
      background-image: none;
      background-color: $fondGrisclairSurvolMenu;

      .monkeyMenu {
        .st1 {
          fill: #262626;
        }

        .st0 {
          fill: #9e9e9e;
        }
      }
    }
    .monkeyMenu {
      margin-left: -8px;
    }
  }
}

.dropdown .dropdown-toggle:hover{
  background-color: lighten($fondBody,10%) !important;
}
