.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: none;
  border: 1px solid #6b6b6b;
  color: #858585;
}

.form-control:focus {
  border-color: $primaryColor;
  box-shadow: none;
  // box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(249,176,0,.6);
}

form.new-service {
  align-content: center;
  margin-left: 10px;
  margin-right: -10px;
}

.form-addon {
  margin-left: 23px;
  width: 98%;
}

label {
  color: #fff;
}

.has-error .control-label {
  color: $colorRouge;
}

.has-error .form-control {
  border-color: $colorRouge;
}
