input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

input.form-control{
    color:$colorGris;
    background-color: $fondNavbar;
    border-color: 	$fondBody;
}
input.form-control:focus{
    background-color: $fondNavbar;
    color:$colorGris;
}
textarea.form-control{
    color:$colorGris;
    background-color: $fondNavbar;
    border-color: 	$fondBody;
}

select.form-control{
    color:$colorGris;
    background-color: $fondNavbar;
    border-color: 	$fondBody;
}

