// .add-menu > li.active > a
// .add-menu > li.active > a:focus,
// .add-menu > li.active > a:hover {
//   color: $colorGris;
//   cursor: default;
//   background-color: $primaryColor;
//   border: 1px solid $primaryColor;
//   border-bottom-color: transparent;
// }

.tab-content {
  margin-top: 200px;
}

.dashboard-button {
  padding: .5em 1em;
  color: #fff;
}

.active,
.active *{
  color: var(--color-primary) !important;
}

.dashboard-button:hover {
  background-color: $fondGrisclairSurvolMenu;
  color: #fff;
  border-color: $primaryColor;
  border-radius: 5px;
}

.add-menu > li > a {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  color: var(--color_level1);

  &:focus,
  &:hover {
    text-decoration: none;
    background-color: $fondGrisclairSurvolMenu;
    color: #fff;
  }
}

.nav-link {
  color: #fff;
  &:focus{
    color: $primaryColor;
  }
}

li:not(.nav-item--open) .nav-link{
  padding: .25rem 1rem !important;

}
.nav-item--open .nav-link .title{
  margin-left: 4px;
}

.nav-item--open i {
  margin-right: .8rem;
}


.navbar-toggler-icon{
  width: auto;
  height: auto;
}