// .add-menu > li.active > a
// .add-menu > li.active > a:focus,
// .add-menu > li.active > a:hover {
//   color: $colorGris;
//   cursor: default;
//   background-color: $primaryColor;
//   border: 1px solid $primaryColor;
//   border-bottom-color: transparent;
// }

.tab-content {
  margin-top: 200px;
}

.dashboard-button {
  padding: .5em 1em;
  color: #fff;
}

.active,
.active * {
  color: var(--color-primary) !important;
}

.active .icon-svg {
  background-color: var(--color-primary);
}

.dashboard-button:hover {
  background-color: $fondGrisclairSurvolMenu;
  color: #fff;
  border-color: $primaryColor;
  border-radius: 5px;
}

.add-menu-sidebar{
  // position: fixed !important;
  width: 100%;
  a{
    display: block !important;
  }
}

.add-menu>li>a {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  color: var(--color_level1);

  &:focus,
  &:hover {
    text-decoration: none;
    background-color: $fondGrisclairSurvolMenu;
    color: #fff;
  }
}

.nav-link {
  padding: 0 1rem;
  color: #fff;

  &:focus {
    color: $primaryColor;
  }
}

li:not(.nav-item--open) .nav-link {
  padding: .25rem 1rem !important;
}

.nav-item {
  cursor: pointer;
  border-radius: 6px;
  margin-right: .5rem;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-item * {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
}

.sidebar .nav>li>a:hover {
  background: none !important;
}

.nav-item-eye {
  display: none !important;
}

.sidebar-feature:hover {
  background-color: var(--bg-color_level2);
}

.nav-item:hover {
  background-color: var(--bg-color_level1);
}

.nav-item:hover .nav-item-eye {
  display: inline-flex !important;
}

.nav-item--open .nav-link .title {
  margin-left: 4px;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-item--open i {
  margin-right: .8rem;
}


.navbar-toggler-icon {
  width: auto;
  height: auto;
}