.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-item.active .page-link {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #000;
}

.page-item.disabled .page-link {
  background: none;
  color: var(--text-muted);
  opacity: .56;
}

.page-link {
  color: var(--color_level1);
  background: none;
  border-color: var(--border-color);
}

.page-link:hover {
  color: var(--color-primary);
  background: var(--hover-bg);
  border-color: var(--border-color);
}