// .panel-heading {
//   text-align: right;
// }

.panel {
  border: 1px solid transparent;
  border-radius: 4px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
}

.panel-body {
  padding: 15px;
}
.panel,
.panel-heading {
  background-color: $fondBody;
  h4 {
    color: #fff;
  }
}

.panel-primary {
  border-color: var(--color-blue);
  > .panel-heading {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    background-image: linear-gradient(
      to bottom,
      var(--color-blue-lighter) 0,
      var(--color-blue) 100%
    );
  }
}
