.ReactTable {
	border: none !important;

	input {
		color: $colorGris !important;
		background-color: $fondNavbar !important;
		border-color: $fondBody !important;
		border-radius: 4px;
		border: none;
	}

	.rt-td {
		height: 40px !important;
	}

	.-pageSizeOptions {
		display: none !important;
	}

	.-next .-btn {
		color: $colorGris !important;
		border: 1px solid $colorGris !important;
		border-radius: 4px !important;
	}

	.-previous .-btn {
		color: $colorGris !important;
		border: 1px solid $colorGris !important;
		border-radius: 4px !important;
	}

	.-pagination {
		justify-content: center;
	}

	.-pagination .-previous,
 .-pagination .-next {
		flex: none;
	}

	.-pagination .-center {
		flex: none;
		border: 1px solid rgba(181, 179, 179, .5);
		border-radius: 4px;
		margin-left: 5px;
		margin-right: 5px;
	}

	.-pagination .-btn:not([disabled]):hover {
		background: #494948;
	}

	span.label.table-env {
	  margin-right: 10px;
	}

	select{
		background: none;
	}
}
