// fond du scroll
.Select-menu-outer {
  background-color:var(--bg-color_level3);
  z-index: 9999;
}
//zone recherche quand select open
.is-open > .Select-control,.Select.is-focused > .Select-control,.Select.is-focused:not(.is-open) > .Select-control{
  background-color: var(--bg-color_level2);
  color: var(--color_level2);
 }
// élément en focus
.Select-option.is-focused {
    color: var(--color_level3);
    background-color: var(--bg-color_level3);

    &:hover .st1{
      fill:var(--color_level3);
    }
}

.Select-option.is-focused:hover{
  color:var(--color_level3);
  background-color: var(--bg-color_level3);
}

.Select-control,.Select-option {
  color:var(--color_level2);
  background-color: var(--bg-color_level2);
}

.Select-control {
 border: 	none;
}

.Select-clear-zone:hover {
 color: var(--color_level3);;
}
// couleur de text du select
.Select-option {
 color: var(--color_level2);
 .monkeyMenu .st1{
   fill:var(--color_level2);
 }
}

.Select-value,.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color:var(--color_level2);
	background-color: 	var(--bg-color_level2);
}

.Select-menu{
  overflow: auto;
}
.Select-value{
  border-radius: 4px;
}

.Select-placeholder{
  color:var(--color_level2)
}