.Select-menu-outer {
  background-color: #6b6b6b;
  z-index: 9999;
}
//zone recherche quand select open
.is-open > .Select-control,.Select.is-focused > .Select-control{
  background-color: $fondNavbar;
  color: #fff;
 }
// élément en focus
.Select-option.is-focused {
    color: #fff;
    background-color: $fondNavbar;
}

.Select-option.is-focused:hover{
    background-color: $fondNavbar;
}

.Select-control,.Select-option {
 background-color: #373735;
}

.Select-control {
 background: 	none;
 border: 	none;
}

.Select-clear-zone:hover {
 color: #666;
}
// couleur de text du select
.Select-option {
 color: #8C8C8B;
}

.Select-value,.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color:$colorGris;
	background-color: 	$fondNavbar;
}
