.services-map {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.services-map text {
  font-size: 11px;
  pointer-events: none;
}

.services-map text.parent {
  fill: #1f77b4;
}

.services-map circle {
  fill: $primaryColor;
  stroke: #999;
  pointer-events: all;
}

.services-map circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

.services-map circle.parent:hover {
  stroke: $primaryColor;
  stroke-width: .5px;
}

.services-map circle.child {
  pointer-events: none;
}