.workflow {
  position: relative;

  p {
    margin: 0;
  }

  .node {
    background: var(--bg-color_level3);
    border: 2px solid hsl(220, 18%, 80%);
    border-radius: .75rem;
    min-width: 120px;
    min-height: 120px;
    // z-index: 1;
    position: relative;
  }

  .node:hover {
    border-color: var(--color-primary);
  }

  .node:hover .node-trash {
    opacity: 1;
  }

  .node-trash {
    opacity: 0;
    transition: opacity 0.15s;
    position: absolute;
    top: -1.5rem;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 1rem;
  }

  .designer-actions {
    position: fixed;
    bottom: 1rem;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: .5rem;
    z-index: 2;
  }

  .workflow-navbar {
    width: 100%;
    background-color: var(--bg-color_level2);
    border: 1px solid var(--bg-color_level3);
    border-left: 0;
    border-right: 0;
    z-index: 1;
    padding: 0 1.5rem;
    height: 56px;
  }

  .d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-tag {
    border: none;
    background: none;
    color: var(--text);
    opacity: .8;
    gap: .25rem;
    display: flex;
    align-items: center;
    font-size: .75rem;
  }

  .nodes-explorer {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 56px;
    width: 0;
    height: 100%;
    z-index: 1;
    background: var(--bg-color_level3);
    transition: width 0.15s;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .nodes-explorer--opened {
    width: 400px;
  }

  .nodes-explorer--large-opened {
    width: 600px;
  }

  .node--selected {
    border-color: rgb(82, 162, 108);
  }

  .node-one-output {
    font-size: 40px;
    line-height: 40px;
  }

  .react-flow__handle.target,
  .node-one-output-dot {
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: none;
    z-index: 10;
  }

  .node-one-output-dot {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    margin-right: -1.5rem;
    display: flex;
    align-items: center;
  }


  .react-flow__handle.target {
    background: var(--color_level1);
  }

  .source::before {
    content: "";
    background: var(--color_level1);
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 25" stroke-width="4" stroke="%23e5e5e5"><path fill="%23e5e5e5" stroke-linecap="round" stroke-linejoin="round" d="M14 5 14 19m6-7L14 5M14 5 14 19 20 12M25 6 21 6 21 18 25 18 25 6" /></svg>');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-left: -1.5rem;
    margin-top: -16px;
    width: 36px;
    height: 36px;
    display: inline-block;
    z-index: 10000;
  }

  .react-flow__edge-path {
    transition: stroke-width 0.2s ease, stroke 0.2s ease;
    stroke-width: 2px;
  }

  .react-flow__edge path {
    stroke: var(--color_level1);
  }

  .react-flow__edge-hover {
    stroke: var(--color-primary);
  }

  .edge-label-renderer {
    opacity: 0;
    transition: opacity .15s;
  }

  .edge-content-hovered {
    opacity: 1;
  }

  .node-one-output-bar {
    min-height: .1rem;
    border-bottom: 3px dashed var(--text);
    min-width: 5rem;
  }

  .node-one-output-add {
    border: 2px solid var(--color_level1);
    background: var(--bg-color_level2);
    min-width: 1.75rem;
    min-height: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .node-one-output-add:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }

  .new-task {
    position: absolute;
    top: calc(56px + 1rem);
    right: 1rem;
    z-index: 1;
  }

  .whats-next-title {
    background: var(--bg-color_level2);
    font-size: 1.25rem;
  }

  .whats-new-category {
    cursor: pointer;

    border-left: 2px solid transparent;
  }

  .whats-new-category:hover {
    background: var(--bg-color_level2);
    border-color: var(--color-primary);
  }

  .whats-next-category-informations p:first-child {
    font-weight: bold;
  }
}