.ant-calendar {
  background-color: #494948 !important;
}

.ant-calendar-date,
.ant-calendar-range-picker-separator,
.ant-calendar-picker-icon,
.ant-calendar-picker-icon:after,
.ant-calendar-range-middle,
.ant-calendar-picker-container,
.ant-calendar-header .ant-calendar-century-select,
.ant-calendar-header .ant-calendar-decade-select,
.ant-calendar-header .ant-calendar-year-select,
.ant-calendar-header .ant-calendar-month-select,
.ant-calendar-header .ant-calendar-prev-century-btn,
.ant-calendar-header .ant-calendar-next-century-btn,
.ant-calendar-header .ant-calendar-prev-decade-btn,
.ant-calendar-header .ant-calendar-next-decade-btn,
.ant-calendar-header .ant-calendar-prev-month-btn,
.ant-calendar-header .ant-calendar-next-month-btn,
.ant-calendar-header .ant-calendar-prev-year-btn,
.ant-calendar-header .ant-calendar-next-year-btn,
.ant-calendar-time .ant-calendar-footer .ant-calendar-time-picker-btn-disabled,
.ant-calendar-range .ant-calendar-input,
.ant-calendar-range .ant-calendar-time-picker-input,
.ant-calendar-range .ant-calendar-input,
.ant-calendar-range .ant-calendar-time-picker-input,
.ant-calendar-footer-btn,
.ant-calendar-time .ant-calendar-day-select,
a.ant-calendar-time-picker-btn {
  color: #9e9e9e !important;
}

.ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date {
  color: #fff !important;
}

.ant-calendar-time-picker-select-option-selected {
  background-color: #4d4b4b !important;
}

.ant-calendar-input,
.ant-input {
  background-color: #494948 !important;
  color: #b5b3b3 !important;
}

.ant-calendar-picker:hover .ant-calendar-picker-clear {
  opacity: 0 !important;
}