@(_env: otoroshi.env.Env)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Simple Login</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="shortcut icon" type="image/png" href="/__otoroshi_assets/images/favicon.png">
        <link rel="stylesheet" href="/__otoroshi_assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/__otoroshi_assets/stylesheets/otoroshiapps.css">
        <link href="/__otoroshi_assets/fonts/font-awesome/css/fontawesome.min.css" rel="stylesheet">
        <link href="/__otoroshi_assets/fonts/raleway/raleway.css" rel="stylesheet">
    </head>
    <body style="overflow: hidden">
        <div id="app"></div>
        @if(_env.liveJs) {
            <script src="http://localhost:3040/assets/javascripts/bundle/simplelogin.js" type="text/javascript"></script>
        } else {
            <script type="text/javascript" src="/__otoroshi_assets/javascripts/bundle/simplelogin.js?v=${_env.hash}"></script>
        }
        <script>
            Otoroshi.auth0PasswordlessLogin({
              otoroshiLogo: '@(_env.otoroshiLogo)'
            }, document.getElementById("app"));
        </script>
    </body>
</html>
