@(_env: otoroshi.env.Env)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Simple Login</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="shortcut icon" type="image/png" href="/__otoroshi_assets/images/favicon.png">
        <link rel="stylesheet" href="/__otoroshi_assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/__otoroshi_assets/stylesheets/otoroshiapps.css">
        <link href="/__otoroshi_assets/fonts/font-awesome/css/fontawesome.min.css" rel="stylesheet">
        <link href="/__otoroshi_assets/fonts/raleway/raleway.css" rel="stylesheet">
        @otoroshi.views.html.frontend.viteCss("simplelogin", _env, Some("/__otoroshi_assets"))
    </head>
    <body style="overflow: hidden">
        <div id="app"></div>
        @otoroshi.views.html.frontend.viteJs("simplelogin", _env, Some("/__otoroshi_assets"))
        <script>
            window.__otoroshiReady(function () {
                Otoroshi.auth0PasswordlessLogin({
                  otoroshiLogo: '@(_env.otoroshiLogo)'
                }, document.getElementById("app"));
            });
        </script>
    </body>
</html>
