$primaryColor: #f9b000;
$colorGris: #E6E6E6;
$grisTexte:#b5b3b3;
$fondNavbar: #494948;
$fondBody: #373735;
$fondGrisclairSurvolMenu: #9e9e9e;
$savecolor : #5cb85c;
$colorBleue : #00B4CD;
$otoroshicolor : #f9b000;
$colorRouge : #D5443F;
