$primaryColor: #f9b000;
$primaryColor-lighter: lighten($primaryColor, 10%);

// old naming
$colorGris: #e6e6e6;
$grisTexte: #b5b3b3;
$fondNavbar: #494948;
$fondLighter: #595959;
$fondBody: #373735;
$fondGrisclairSurvolMenu: #9e9e9e;

$savecolor: #5cb85c;
$colorBleue: #00b4cd;
$colorBleue-lighter:lighten($colorBleue, 10%);
$colorRouge: #d5443f;

//new naming
$color-dark-1: #e6e6e6;
$color-dark-2: #b5b3b3;
$color-dark-3: #9e9e9e;
$color-dark-4: #595959;
$color-dark-5: #494948;
$color-dark-6: #373735;

//light mode var

$color-white-1: #fff;
$color-white-2: #f3f3f4;
$color-white-3: #e8e8e8;
$color-white-4: #e1dfdf;
$color-white-5: #333;

:root {
  // globals
  --color-primary: #{$primaryColor};
  --color-primary-lighter: #{$primaryColor-lighter};
  --color-green: #5cb85c; 
  --color-blue: #{$colorBleue};
  --color-blue-lighter: #{$colorBleue-lighter};
  --color-red: #d5443f;
  --color-grey:#e6e6e6;
  --color-white: #fff;
  --color-dark:#000;

  // dark mode
  --bg-color_level1: #{$color-dark-6};
  --color_level1: #{$color-dark-2};
  --bg-color_level2: #{$color-dark-5};
  --color_level2: #{$color-dark-2};
  --bg-color_level3: #{$color-dark-4};
  --color_level3: #{$color-dark-1};

}

[data-theme="light"] {
  --bg-color_level1: #{$color-white-2};
  --color_level1: #{$color-white-5};
  --bg-color_level2: #{$color-white-3};
  --color_level2: #{$color-white-5};
  --bg-color_level3: #{$color-white-4};
  --color_level3: #{$color-white-5};
}
