$primaryColor: #f9b000;
$primaryColor-lighter: lighten($primaryColor, 10%);

// old naming
$colorGris: #e6e6e6;
$grisTexte: #b5b3b3;
$fondNavbar: #494948;
$fondLighter: #595959;
$fondBody: #373735;
$fondGrisclairSurvolMenu: #9e9e9e;

$savecolor: #5cb85c;
$colorBleue: #00b4cd;
$colorBleue-lighter:lighten($colorBleue, 10%);
$colorRouge: #d5443f;

//new naming
// dark mode var
$color-dark-1: #e6e6e6;
$color-dark-2: #b5b3b3;
$color-dark-3: #9e9e9e;
$color-dark-4: #595959;
$color-dark-5: #494948;
$color-dark-6: #373735;

$color-dark-4-opa80: #59595980;
$color-dark-5-opa80: #49494880;
$color-dark-6-opa80: #37373580;

//light mode var
$color-white-1: #fff;
$color-white-2: #f3f3f4;
$color-white-3: #e8e8e8;
$color-white-4: #e1dfdf;
$color-white-5: #333;

$color-white-2-opa80: #f3f3f480;
$color-white-3-opa80: #e8e8e880;
$color-white-4-opa80: #e1dfdf80;

:root {
  // globals
  --color-primary: #{$primaryColor};
  --color-primary-lighter: #{$primaryColor-lighter};
  --color-green: #5cb85c; 
  --color-blue: #{$colorBleue};
  --color-blue-lighter: #{$colorBleue-lighter};
  --color-red: #d5443f;
  --color-grey:#e6e6e6;
  --color-white: #fff;
  --color-dark:#000;
  --http_color-get: rgb(89, 179, 255);
  --http_color-post: rgb(74, 203, 145);
  --http_color-delete: rgb(249, 63, 62);
  --http_color-put: rgb(251, 161, 47);
  --http_color-others: rgb(155, 89, 182);
  
  // dark mode (default)
  --bg-color_level1: #{$color-dark-6};
  --color_level1: #{$color-dark-2};
  --bg-color_level2: #{$color-dark-5};
  --color_level2: #{$color-dark-2};
  --bg-color_level3: #{$color-dark-4};
  --color_level3: #{$color-dark-1};

  --text: #fff;
  --raw-text: 255, 255, 255;
  --bg-color_level1_opa80: #{$color-dark-6-opa80};
  --bg-color_level2_opa80: #{$color-dark-5-opa80};
  --bg-color_level3_opa80: #{$color-dark-4-opa80};
}

[data-theme="light"] {
  --bg-color_level1: #{$color-white-2};
  --color_level1: #{$color-white-5};
  --bg-color_level2: #{$color-white-3};
  --color_level2: #{$color-white-5};
  --bg-color_level3: #{$color-white-4};
  --color_level3: #{$color-white-5};

  --text: #000;
  --raw-text: 0, 0, 0;
  --bg-color_level1_opa80: #{$color-white-2-opa80};
  --bg-color_level2_opa80: #{$color-white-3-opa80};
  --bg-color_level3_opa80: #{$color-white-4-opa80};
}
