$primaryColor: #f9b000;

$alertColor:#D5443F;
$warningColor:#f0ad4e;
$successColor:#5cb85c;
$infoColor:#00B4CD;
$darkColor:#494948;

$textColor:#b5b3b3;
$linkColor: #E6E6E6;

$primaryBgColor:#373735;
$secondaryBgColor:#494948;
$tertiaryBgColor: #9e9e9e;


$bp-xs-up:767px; //min-width
$bp-xs:$bp-xs-up - 1; //max-width