{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1.5.0-alpha01",
    "title" : "Otoroshi Admin API",
    "description" : "Admin API of the Otoroshi reverse proxy",
    "contact" : {
      "name" : "Otoroshi Team",
      "email" : "oss@maif.fr"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "configuration",
    "description" : "Everything about Otoroshi global configuration"
  }, {
    "name" : "import",
    "description" : "Everything about Otoroshi import/export"
  }, {
    "name" : "templates",
    "description" : "Everything about Otoroshi entities templates"
  }, {
    "name" : "environments",
    "description" : "Everything about Otoroshi Environments"
  }, {
    "name" : "groups",
    "description" : "Everything about Otoroshi service groups"
  }, {
    "name" : "apikeys",
    "description" : "Everything about Otoroshi api keys"
  }, {
    "name" : "services",
    "description" : "Everything about Otoroshi service descriptors"
  }, {
    "name" : "stats",
    "description" : "Everything about Otoroshi stats"
  }, {
    "name" : "snowmonkey",
    "description" : "Everything about Otoroshi Snow Monkey"
  }, {
    "name" : "health",
    "description" : "Everything about Otoroshi health status"
  }, {
    "name" : "jwt-verifiers",
    "description" : "Everything about Otoroshi global JWT token verifiers"
  }, {
    "name" : "auth-config",
    "description" : "Everything about Otoroshi global auth. module config"
  }, {
    "name" : "scripts",
    "description" : "Everything about Otoroshi request transformer scripts"
  }, {
    "name" : "certificates",
    "description" : "Everything about Otoroshi SSL/TLS certificates"
  }, {
    "name" : "validation-authorities",
    "description" : "Everything about Otoroshi validation authorities"
  }, {
    "name" : "data-exporter-configs",
    "description" : "Everything about Otoroshi data exporters"
  } ],
  "externalDocs" : {
    "description" : "Find out more about Otoroshi",
    "url" : "https://maif.github.io/otoroshi/"
  },
  "servers" : [ {
    "url" : "http://otoroshi-api.oto.tools/"
  } ],
  "paths" : {
    "/new/apikey" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "templates" ],
        "summary" : "Get a template of an Otoroshi Api Key",
        "description" : "Get a template of an Otoroshi Api Key. The generated entity is not persisted",
        "operationId" : "initiateApiKey",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/new/service" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "templates" ],
        "summary" : "Get a template of an Otoroshi service descriptor",
        "description" : "Get a template of an Otoroshi service descriptor. The generated entity is not persisted",
        "operationId" : "initiateService",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/new/group" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "templates" ],
        "summary" : "Get a template of an Otoroshi service group",
        "description" : "Get a template of an Otoroshi service group. The generated entity is not persisted",
        "operationId" : "initiateServiceGroup",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/lines" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "environments" ],
        "summary" : "Get all environments",
        "description" : "Get all environments provided by the current Otoroshi instance",
        "operationId" : "allLines",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/lines/{line}/services" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "environments" ],
        "summary" : "Get all services for an environment",
        "description" : "Get all services for an environment provided by the current Otoroshi instance",
        "operationId" : "servicesForALine",
        "parameters" : [ {
          "in" : "path",
          "name" : "line",
          "required" : true,
          "description" : "The environment where to find services",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Service"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/apikeys/{clientId}/quotas" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get the quota state of an api key",
        "description" : "Get the quota state of an api key",
        "operationId" : "apiKeyQuotas",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The api key service id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Quotas"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Reset the quota state of an api key",
        "description" : "Reset the quota state of an api key",
        "operationId" : "resetApiKeyQuotas",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The api key service id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Quotas"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/apikeys/{clientId}/group" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get the group of an api key",
        "description" : "Get the group of an api key",
        "operationId" : "apiKeyGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The api key service id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/apikeys/{clientId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get an api key",
        "description" : "Get an api key for a specified service descriptor",
        "operationId" : "apiKey",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The api key service id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Update an api key",
        "description" : "Update an api key for a specified service descriptor",
        "operationId" : "updateApiKey",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The api key service id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiKey"
              }
            }
          }
        }
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Update an api key with a diff",
        "description" : "Update an api key for a specified service descriptor with a diff",
        "operationId" : "patchApiKey",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The api key service id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Patch"
              }
            }
          }
        }
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Delete an api key",
        "description" : "Delete an api key for a specified service descriptor",
        "operationId" : "deleteApiKey",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The api key service id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deleted"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/apikeys" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get all api keys for the group of a service",
        "description" : "Get all api keys for the group of a service",
        "operationId" : "apiKeys",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The api key service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Create a new api key for a service",
        "description" : "",
        "operationId" : "createApiKey",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The api key service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiKey"
              }
            }
          }
        }
      }
    },
    "/api/groups/{groupId}/apikeys/{clientId}/quotas" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get the quota state of an api key",
        "description" : "Get the quota state of an api key",
        "operationId" : "apiKeyFromGroupQuotas",
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "description" : "The api key group id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Quotas"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Reset the quota state of an api key",
        "description" : "Reset the quota state of an api key",
        "operationId" : "resetApiKeyFromGroupQuotas",
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "description" : "The api key group id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Quotas"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups/{groupId}/apikeys/{clientId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get an api key",
        "description" : "Get an api key for a specified service group",
        "operationId" : "apiKeyFromGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "description" : "The api key group id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Update an api key",
        "description" : "Update an api key for a specified service group",
        "operationId" : "updateApiKeyFromGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "description" : "The api key group id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiKey"
              }
            }
          }
        }
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Update an api key with a diff",
        "description" : "Update an api key for a specified service descriptor with a diff",
        "operationId" : "patchApiKeyFromGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "description" : "The api key group id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Patch"
              }
            }
          }
        }
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Delete an api key",
        "description" : "Delete an api key for a specified service group",
        "operationId" : "deleteApiKeyFromGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "description" : "The api key group id",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "description" : "the api key id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deleted"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups/{groupId}/apikeys" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get all api keys for the group of a service",
        "description" : "Get all api keys for the group of a service",
        "operationId" : "apiKeysFromGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "description" : "The api key group id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Create a new api key for a group",
        "description" : "Create a new api key for a group",
        "operationId" : "createApiKeyFromGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "description" : "The api key group id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKey"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiKey"
              }
            }
          }
        }
      }
    },
    "/api/apikeys" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get all api keys",
        "description" : "Get all api keys",
        "operationId" : "allApiKeys",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/template" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get a service descriptor error template",
        "description" : "Get a service descriptor error template",
        "operationId" : "serviceTemplate",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorTemplate"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Update an error template to a service descriptor",
        "description" : "Update an error template to a service descriptor",
        "operationId" : "updateServiceTemplate",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorTemplate"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ErrorTemplate"
              }
            }
          }
        }
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Create a service descriptor error template",
        "description" : "Update a service descriptor targets",
        "operationId" : "createServiceTemplate",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorTemplate"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ErrorTemplate"
              }
            }
          }
        }
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Delete a service descriptor error template",
        "description" : "Delete a service descriptor error template",
        "operationId" : "deleteServiceTemplate",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deleted"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/targets" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get a service descriptor targets",
        "description" : "Get a service descriptor targets",
        "operationId" : "serviceTargets",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Target"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Add a target to a service descriptor",
        "description" : "Add a target to a service descriptor",
        "operationId" : "serviceAddTarget",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Target"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Target"
              }
            }
          }
        }
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Update a service descriptor targets",
        "description" : "Update a service descriptor targets",
        "operationId" : "updateServiceTargets",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Target"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Patch"
              }
            }
          }
        }
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Delete a service descriptor target",
        "description" : "Delete a service descriptor target",
        "operationId" : "serviceDeleteTarget",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Target"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get a service descriptor",
        "description" : "Get a service descriptor",
        "operationId" : "service",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Update a service descriptor",
        "description" : "Update a service descriptor",
        "operationId" : "updateService",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Service"
              }
            }
          }
        }
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Update a service descriptor with a diff",
        "description" : "Update a service descriptor with a diff",
        "operationId" : "patchService",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Patch"
              }
            }
          }
        }
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Delete a service descriptor",
        "description" : "Delete a service descriptor",
        "operationId" : "deleteService",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "description" : "The service id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deleted"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get all services",
        "description" : "Get all services",
        "operationId" : "allServices",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Service"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Create a new service descriptor",
        "description" : "Create a new service descriptor",
        "operationId" : "createService",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Service"
              }
            }
          }
        }
      }
    },
    "/api/groups/{serviceGroupId}/services" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get all services descriptor for a group",
        "description" : "Get all services descriptor for a group",
        "operationId" : "serviceGroupServices",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "description" : "The service group id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups/{serviceGroupId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Get a service group",
        "description" : "Get a service group",
        "operationId" : "serviceGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "description" : "The service group id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Update a service group",
        "description" : "Update a service group",
        "operationId" : "updateGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "description" : "The service group id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group"
              }
            }
          }
        }
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Update a service group with a diff",
        "description" : "Update a service group with a diff",
        "operationId" : "patchGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "description" : "The service group id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Patch"
              }
            }
          }
        }
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Delete a service group",
        "description" : "Delete a service group",
        "operationId" : "deleteGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "description" : "The service group id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deleted"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Get all service groups",
        "description" : "Get all service groups",
        "operationId" : "allServiceGroups",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Create a new service group",
        "description" : "Create a new service group",
        "operationId" : "createGroup",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group"
              }
            }
          }
        }
      }
    },
    "/api/verifiers" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Get all global JWT verifiers",
        "description" : "Get all global JWT verifiers",
        "operationId" : "findAllGlobalJwtVerifiers",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GlobalJwtVerifier"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Create one global JWT verifiers",
        "description" : "Create one global JWT verifiers",
        "operationId" : "createGlobalJwtVerifier",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GlobalJwtVerifier"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GlobalJwtVerifier"
              }
            }
          }
        }
      }
    },
    "/api/verifiers/{verifierId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Get one global JWT verifiers",
        "description" : "Get one global JWT verifiers",
        "operationId" : "findGlobalJwtVerifiersById",
        "parameters" : [ {
          "in" : "path",
          "name" : "verifierId",
          "required" : true,
          "description" : "The jwt verifier id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GlobalJwtVerifier"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Delete one global JWT verifiers",
        "description" : "Delete one global JWT verifiers",
        "operationId" : "deleteGlobalJwtVerifier",
        "parameters" : [ {
          "in" : "path",
          "name" : "verifierId",
          "required" : true,
          "description" : "The jwt verifier id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deleted"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Update one global JWT verifiers",
        "description" : "Update one global JWT verifiers",
        "operationId" : "updateGlobalJwtVerifier",
        "parameters" : [ {
          "in" : "path",
          "name" : "verifierId",
          "required" : true,
          "description" : "The jwt verifier id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GlobalJwtVerifier"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GlobalJwtVerifier"
              }
            }
          }
        }
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Update one global JWT verifiers",
        "description" : "Update one global JWT verifiers",
        "operationId" : "patchGlobalJwtVerifier",
        "parameters" : [ {
          "in" : "path",
          "name" : "verifierId",
          "required" : true,
          "description" : "The jwt verifier id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GlobalJwtVerifier"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Patch"
              }
            }
          }
        }
      }
    },
    "/api/auths" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Get all global auth. module configs",
        "description" : "Get all global auth. module configs",
        "operationId" : "findAllGlobalAuthModules",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/LdapAuthModuleConfig"
                    }, {
                      "$ref" : "#/components/schemas/InMemoryAuthModuleConfig"
                    }, {
                      "$ref" : "#/components/schemas/GenericOauth2ModuleConfig"
                    } ]
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Create one global auth. module config",
        "description" : "Create one global auth. module config",
        "operationId" : "createGlobalAuthModule",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/LdapAuthModuleConfig"
                  }, {
                    "$ref" : "#/components/schemas/InMemoryAuthModuleConfig"
                  }, {
                    "$ref" : "#/components/schemas/GenericOauth2ModuleConfig"
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/LdapAuthModuleConfig"
                }, {
                  "$ref" : "#/components/schemas/InMemoryAuthModuleConfig"
                }, {
                  "$ref" : "#/components/schemas/GenericOauth2ModuleConfig"
                } ]
              }
            }
          }
        }
      }
    },
    "/api/auths/{id}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Get one global auth. module configs",
        "description" : "Get one global auth. module configs",
        "operationId" : "findGlobalAuthModuleById",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "description" : "The auth. config id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/LdapAuthModuleConfig"
                  }, {
                    "$ref" : "#/components/schemas/InMemoryAuthModuleConfig"
                  }, {
                    "$ref" : "#/components/schemas/GenericOauth2ModuleConfig"
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Delete one global auth. module config",
        "description" : "Delete one global auth. module config",
        "operationId" : "deleteGlobalAuthModule",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "description" : "The auth. config id id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deleted"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Update one global auth. module config",
        "description" : "Update one global auth. module config",
        "operationId" : "updateGlobalAuthModule",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "description" : "The auth. config id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/LdapAuthModuleConfig"
                  }, {
                    "$ref" : "#/components/schemas/InMemoryAuthModuleConfig"
                  }, {
                    "$ref" : "#/components/schemas/GenericOauth2ModuleConfig"
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/LdapAuthModuleConfig"
                }, {
                  "$ref" : "#/components/schemas/InMemoryAuthModuleConfig"
                }, {
                  "$ref" : "#/components/schemas/GenericOauth2ModuleConfig"
                } ]
              }
            }
          }
        }
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Update one global auth. module config",
        "description" : "Update one global auth. module config",
        "operationId" : "patchGlobalAuthModule",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "description" : "The auth. config id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/LdapAuthModuleConfig"
                  }, {
                    "$ref" : "#/components/schemas/InMemoryAuthModuleConfig"
                  }, {
                    "$ref" : "#/components/schemas/GenericOauth2ModuleConfig"
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Patch"
              }
            }
          }
        }
      }
    },
    "/api/scripts/_compile" : {
      "post" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Compile a script",
        "description" : "Compile a script",
        "operationId" : "compileScript",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScriptCompilationResult"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Script"
              }
            }
          }
        }
      }
    },
    "/api/scripts/{scriptId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Get a script",
        "description" : "Get a script",
        "operationId" : "findScriptById",
        "parameters" : [ {
          "in" : "path",
          "name" : "scriptId",
          "required" : true,
          "description" : "The script id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Script"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Update a script",
        "description" : "Update a script",
        "operationId" : "updateScript",
        "parameters" : [ {
          "in" : "path",
          "name" : "scriptId",
          "required" : true,
          "description" : "The script id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Script"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Script"
              }
            }
          }
        }
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Update a script with a diff",
        "description" : "Update a script with a diff",
        "operationId" : "patchScript",
        "parameters" : [ {
          "in" : "path",
          "name" : "scriptId",
          "required" : true,
          "description" : "The script id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Script"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Patch"
              }
            }
          }
        }
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Delete a script",
        "description" : "Delete a script",
        "operationId" : "deleteScript",
        "parameters" : [ {
          "in" : "path",
          "name" : "scriptId",
          "required" : true,
          "description" : "The script id",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deleted"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/scripts" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Get all scripts",
        "description" : "Get all scripts",
        "operationId" : "findAllScripts",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Script"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Create a new script",
        "description" : "Create a new script",
        "operationId" : "createScript",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Script"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Script"
              }
            }
          }
        }
      }
    },
    "/api/data-exporter-configs/_template" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "data-exporter-configs" ],
        "summary" : "Get all data exporter configs",
        "description" : "Get all data exporter configs",
        "operationId" : "DataExporterTemplate",
        "parameters" : [ {
          "in" : "query",
          "name" : "type",
          "required" : false,
          "description" : "The data exporter config type",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataExporterConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/data-exporter-configs/_bulk" : {
      "post" : {
        "deprecated" : false,
        "tags" : [ "data-exporter-configs" ],
        "summary" : "Create a new data exporter configs",
        "description" : "Create a new data exporter configs",
        "operationId" : "createBulkDataExporterConfigs",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "description" : "The bulk response",
                    "type" : "object",
                    "properties" : {
                      "status" : {
                        "type" : "string",
                        "enum" : [ "201" ],
                        "description" : "Status"
                      },
                      "created" : {
                        "type" : "boolean",
                        "example" : true,
                        "description" : "Whether the action was carried out correctly or not"
                      },
                      "id" : {
                        "type" : "boolean",
                        "example" : true,
                        "description" : "Data exporter id"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "requestBody" : {
          "content" : {
            "application/ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/DataExporterConfig"
              }
            }
          }
        }
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "data-exporter-configs" ],
        "summary" : "Update a data exporter configs",
        "description" : "Update a data exporter configs",
        "operationId" : "updateBulkDataExporterConfig",
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "description" : "The bulk response",
                    "type" : "object",
                    "properties" : {
[...]
