{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.4.18",
    "title" : "Otoroshi Admin API",
    "description" : "Admin API of the Otoroshi reverse proxy",
    "contact" : {
      "name" : "Otoroshi Team",
      "email" : "oss@maif.fr"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "configuration",
    "description" : "Everything about Otoroshi global configuration"
  }, {
    "name" : "import",
    "description" : "Everything about Otoroshi import/export"
  }, {
    "name" : "templates",
    "description" : "Everything about Otoroshi entities templates"
  }, {
    "name" : "environments",
    "description" : "Everything about Otoroshi Environments"
  }, {
    "name" : "groups",
    "description" : "Everything about Otoroshi service groups"
  }, {
    "name" : "apikeys",
    "description" : "Everything about Otoroshi api keys"
  }, {
    "name" : "services",
    "description" : "Everything about Otoroshi service descriptors"
  }, {
    "name" : "stats",
    "description" : "Everything about Otoroshi stats"
  }, {
    "name" : "snowmonkey",
    "description" : "Everything about Otoroshi Snow Monkey"
  }, {
    "name" : "health",
    "description" : "Everything about Otoroshi health status"
  }, {
    "name" : "jwt-verifiers",
    "description" : "Everything about Otoroshi global JWT token verifiers"
  }, {
    "name" : "auth-config",
    "description" : "Everything about Otoroshi global auth. module config"
  }, {
    "name" : "scripts",
    "description" : "Everything about Otoroshi request transformer scripts"
  }, {
    "name" : "certificates",
    "description" : "Everything about Otoroshi SSL/TLS certificates"
  }, {
    "name" : "validation-authorities",
    "description" : "Everything about Otoroshi validation authorities"
  } ],
  "externalDocs" : {
    "description" : "Find out more about Otoroshi",
    "url" : "https://maif.github.io/otoroshi/"
  },
  "host" : "otoroshi-api.oto.tools",
  "basePath" : "/",
  "schemes" : [ "http" ],
  "paths" : {
    "/new/apikey" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "templates" ],
        "summary" : "Get a template of an Otoroshi Api Key",
        "description" : "Get a template of an Otoroshi Api Key. The generated entity is not persisted",
        "operationId" : "initiateApiKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiKey"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/new/service" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "templates" ],
        "summary" : "Get a template of an Otoroshi service descriptor",
        "description" : "Get a template of an Otoroshi service descriptor. The generated entity is not persisted",
        "operationId" : "initiateService",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/new/group" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "templates" ],
        "summary" : "Get a template of an Otoroshi service group",
        "description" : "Get a template of an Otoroshi service group. The generated entity is not persisted",
        "operationId" : "initiateServiceGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/lines" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "environments" ],
        "summary" : "Get all environments",
        "description" : "Get all environments provided by the current Otoroshi instance",
        "operationId" : "allLines",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Environment"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/lines/{line}/services" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "environments" ],
        "summary" : "Get all services for an environment",
        "description" : "Get all services for an environment provided by the current Otoroshi instance",
        "operationId" : "servicesForALine",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "line",
          "required" : true,
          "type" : "string",
          "description" : "The environment where to find services"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Service"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/apikeys/{clientId}/quotas" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get the quota state of an api key",
        "description" : "Get the quota state of an api key",
        "operationId" : "apiKeyQuotas",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The api key service id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Quotas"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Reset the quota state of an api key",
        "description" : "Reset the quota state of an api key",
        "operationId" : "resetApiKeyQuotas",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The api key service id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Quotas"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/apikeys/{clientId}/group" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get the group of an api key",
        "description" : "Get the group of an api key",
        "operationId" : "apiKeyGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The api key service id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/apikeys/{clientId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get an api key",
        "description" : "Get an api key for a specified service descriptor",
        "operationId" : "apiKey",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The api key service id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiKey"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Update an api key",
        "description" : "Update an api key for a specified service descriptor",
        "operationId" : "updateApiKey",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The api key service id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiKey"
          },
          "description" : "The updated api key"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiKey"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Update an api key with a diff",
        "description" : "Update an api key for a specified service descriptor with a diff",
        "operationId" : "patchApiKey",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The api key service id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The patch for the api key"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiKey"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Delete an api key",
        "description" : "Delete an api key for a specified service descriptor",
        "operationId" : "deleteApiKey",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The api key service id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/apikeys" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get all api keys for the group of a service",
        "description" : "Get all api keys for the group of a service",
        "operationId" : "apiKeys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The api key service id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ApiKey"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Create a new api key for a service",
        "description" : "Create a new api key for a service",
        "operationId" : "createApiKey",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The api key service id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiKey"
          },
          "description" : "The api key to create"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiKey"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups/{groupId}/apikeys/{clientId}/quotas" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get the quota state of an api key",
        "description" : "Get the quota state of an api key",
        "operationId" : "apiKeyFromGroupQuotas",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "type" : "string",
          "description" : "The api key group id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Quotas"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Reset the quota state of an api key",
        "description" : "Reset the quota state of an api key",
        "operationId" : "resetApiKeyFromGroupQuotas",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "type" : "string",
          "description" : "The api key group id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Quotas"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups/{groupId}/apikeys/{clientId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get an api key",
        "description" : "Get an api key for a specified service group",
        "operationId" : "apiKeyFromGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "type" : "string",
          "description" : "The api key group id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiKey"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Update an api key",
        "description" : "Update an api key for a specified service group",
        "operationId" : "updateApiKeyFromGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "type" : "string",
          "description" : "The api key group id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiKey"
          },
          "description" : "The updated api key"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiKey"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Update an api key with a diff",
        "description" : "Update an api key for a specified service descriptor with a diff",
        "operationId" : "patchApiKeyFromGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "type" : "string",
          "description" : "The api key group id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The patch for the api key"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiKey"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Delete an api key",
        "description" : "Delete an api key for a specified service group",
        "operationId" : "deleteApiKeyFromGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "type" : "string",
          "description" : "The api key group id"
        }, {
          "in" : "path",
          "name" : "clientId",
          "required" : true,
          "type" : "string",
          "description" : "the api key id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups/{groupId}/apikeys" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get all api keys for the group of a service",
        "description" : "Get all api keys for the group of a service",
        "operationId" : "apiKeysFromGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "type" : "string",
          "description" : "The api key group id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ApiKey"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Create a new api key for a group",
        "description" : "Create a new api key for a group",
        "operationId" : "createApiKeyFromGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "type" : "string",
          "description" : "The api key group id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiKey"
          },
          "description" : "The api key to create"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiKey"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/apikeys" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "apikeys" ],
        "summary" : "Get all api keys",
        "description" : "Get all api keys",
        "operationId" : "allApiKeys",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ApiKey"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/template" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get a service descriptor error template",
        "description" : "Get a service descriptor error template",
        "operationId" : "serviceTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorTemplate"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Update an error template to a service descriptor",
        "description" : "Update an error template to a service descriptor",
        "operationId" : "updateServiceTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ErrorTemplate"
          },
          "description" : "The updated service descriptor template"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorTemplate"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Create a service descriptor error template",
        "description" : "Update a service descriptor targets",
        "operationId" : "createServiceTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ErrorTemplate"
          },
          "description" : "The patch for the service error template"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorTemplate"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Delete a service descriptor error template",
        "description" : "Delete a service descriptor error template",
        "operationId" : "deleteServiceTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}/targets" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get a service descriptor targets",
        "description" : "Get a service descriptor targets",
        "operationId" : "serviceTargets",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Target"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Add a target to a service descriptor",
        "description" : "Add a target to a service descriptor",
        "operationId" : "serviceAddTarget",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Target"
          },
          "description" : "The updated service descriptor"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Target"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Update a service descriptor targets",
        "description" : "Update a service descriptor targets",
        "operationId" : "updateServiceTargets",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The patch for the service targets"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Target"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Delete a service descriptor target",
        "description" : "Delete a service descriptor target",
        "operationId" : "serviceDeleteTarget",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Target"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services/{serviceId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get a service descriptor",
        "description" : "Get a service descriptor",
        "operationId" : "service",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Update a service descriptor",
        "description" : "Update a service descriptor",
        "operationId" : "updateService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Service"
          },
          "description" : "The updated service descriptor"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Update a service descriptor with a diff",
        "description" : "Update a service descriptor with a diff",
        "operationId" : "patchService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The patch for the service"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Delete a service descriptor",
        "description" : "Delete a service descriptor",
        "operationId" : "deleteService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceId",
          "required" : true,
          "type" : "string",
          "description" : "The service id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/services" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get all services",
        "description" : "Get all services",
        "operationId" : "allServices",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Service"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Create a new service descriptor",
        "description" : "Create a new service descriptor",
        "operationId" : "createService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Service"
          },
          "description" : "The service descriptor to create"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups/{serviceGroupId}/services" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "services" ],
        "summary" : "Get all services descriptor for a group",
        "description" : "Get all services descriptor for a group",
        "operationId" : "serviceGroupServices",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "type" : "string",
          "description" : "The service group id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ApiKey"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups/{serviceGroupId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Get a service group",
        "description" : "Get a service group",
        "operationId" : "serviceGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "type" : "string",
          "description" : "The service group id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Update a service group",
        "description" : "Update a service group",
        "operationId" : "updateGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "type" : "string",
          "description" : "The service group id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Group"
          },
          "description" : "The updated service group"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Update a service group with a diff",
        "description" : "Update a service group with a diff",
        "operationId" : "patchGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "type" : "string",
          "description" : "The service group id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The patch for the service group"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Delete a service group",
        "description" : "Delete a service group",
        "operationId" : "deleteGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "serviceGroupId",
          "required" : true,
          "type" : "string",
          "description" : "The service group id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/groups" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Get all service groups",
        "description" : "Get all service groups",
        "operationId" : "allServiceGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Group"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "groups" ],
        "summary" : "Create a new service group",
        "description" : "Create a new service group",
        "operationId" : "createGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Group"
          },
          "description" : "The service group to create"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Group"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/verifiers" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Get one global JWT verifiers",
        "description" : "Get one global JWT verifiers",
        "operationId" : "findGlobalJwtVerifiersById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "verifierId",
          "required" : true,
          "type" : "string",
          "description" : "The jwt verifier id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/GlobalJwtVerifier"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Delete one global JWT verifiers",
        "description" : "Delete one global JWT verifiers",
        "operationId" : "deleteGlobalJwtVerifier",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "verifierId",
          "required" : true,
          "type" : "string",
          "description" : "The jwt verifier id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Update one global JWT verifiers",
        "description" : "Update one global JWT verifiers",
        "operationId" : "updateGlobalJwtVerifier",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "verifierId",
          "required" : true,
          "type" : "string",
          "description" : "The jwt verifier id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/GlobalJwtVerifier"
          },
          "description" : "The verifier to update"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/GlobalJwtVerifier"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Update one global JWT verifiers",
        "description" : "Update one global JWT verifiers",
        "operationId" : "patchGlobalJwtVerifier",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "verifierId",
          "required" : true,
          "type" : "string",
          "description" : "The jwt verifier id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The verifier to update"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/GlobalJwtVerifier"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "jwt-verifiers" ],
        "summary" : "Create one global JWT verifiers",
        "description" : "Create one global JWT verifiers",
        "operationId" : "createGlobalJwtVerifier",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/GlobalJwtVerifier"
          },
          "description" : "The verifier to create"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/GlobalJwtVerifier"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/auths" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Get one global auth. module configs",
        "description" : "Get one global auth. module configs",
        "operationId" : "findGlobalAuthModuleById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The auth. config id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "oneOf" : [ {
                "$ref" : "#/definitions/LdapAuthModuleConfig"
              }, {
                "$ref" : "#/definitions/InMemoryAuthModuleConfig"
              }, {
                "$ref" : "#/definitions/GenericOauth2ModuleConfig"
              } ]
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Delete one global auth. module config",
        "description" : "Delete one global auth. module config",
        "operationId" : "deleteGlobalAuthModule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The auth. config id id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Update one global auth. module config",
        "description" : "Update one global auth. module config",
        "operationId" : "updateGlobalAuthModule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The auth. config id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "oneOf" : [ {
              "$ref" : "#/definitions/LdapAuthModuleConfig"
            }, {
              "$ref" : "#/definitions/InMemoryAuthModuleConfig"
            }, {
              "$ref" : "#/definitions/GenericOauth2ModuleConfig"
            } ]
          },
          "description" : "The auth. config to update"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "oneOf" : [ {
                "$ref" : "#/definitions/LdapAuthModuleConfig"
              }, {
                "$ref" : "#/definitions/InMemoryAuthModuleConfig"
              }, {
                "$ref" : "#/definitions/GenericOauth2ModuleConfig"
              } ]
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Update one global auth. module config",
        "description" : "Update one global auth. module config",
        "operationId" : "patchGlobalAuthModule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The auth. config id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The auth. config to update"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "oneOf" : [ {
                "$ref" : "#/definitions/LdapAuthModuleConfig"
              }, {
                "$ref" : "#/definitions/InMemoryAuthModuleConfig"
              }, {
                "$ref" : "#/definitions/GenericOauth2ModuleConfig"
              } ]
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "auth-config" ],
        "summary" : "Create one global auth. module config",
        "description" : "Create one global auth. module config",
        "operationId" : "createGlobalAuthModule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "oneOf" : [ {
              "$ref" : "#/definitions/LdapAuthModuleConfig"
            }, {
              "$ref" : "#/definitions/InMemoryAuthModuleConfig"
            }, {
              "$ref" : "#/definitions/GenericOauth2ModuleConfig"
            } ]
          },
          "description" : "The auth. config to create"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "oneOf" : [ {
                "$ref" : "#/definitions/LdapAuthModuleConfig"
              }, {
                "$ref" : "#/definitions/InMemoryAuthModuleConfig"
              }, {
                "$ref" : "#/definitions/GenericOauth2ModuleConfig"
              } ]
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/scripts/_compile" : {
      "post" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Compile a script",
        "description" : "Compile a script",
        "operationId" : "compileScript",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Script"
          },
          "description" : "The script to compile"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ScriptCompilationResult"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/scripts/{scriptId}" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Get a script",
        "description" : "Get a script",
        "operationId" : "findScriptById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "scriptId",
          "required" : true,
          "type" : "string",
          "description" : "The script id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Script"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Update a script",
        "description" : "Update a script",
        "operationId" : "updateScript",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "scriptId",
          "required" : true,
          "type" : "string",
          "description" : "The script id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Script"
          },
          "description" : "The updated script"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Script"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Update a script with a diff",
        "description" : "Update a script with a diff",
        "operationId" : "patchScript",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "scriptId",
          "required" : true,
          "type" : "string",
          "description" : "The script id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The patch for the script"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Script"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Delete a script",
        "description" : "Delete a script",
        "operationId" : "deleteScript",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "scriptId",
          "required" : true,
          "type" : "string",
          "description" : "The script id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/scripts" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Get all scripts",
        "description" : "Get all scripts",
        "operationId" : "findAllScripts",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Script"
              }
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "scripts" ],
        "summary" : "Create a new script",
        "description" : "Create a new script",
        "operationId" : "createScript",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Script"
          },
          "description" : "The script to create"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Script"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/certificates" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "certificates" ],
        "summary" : "Get one certificate by id",
        "description" : "Get one certificate by id",
        "operationId" : "oneCert",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The auth. config id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Certificate"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "certificates" ],
        "summary" : "Delete one certificate by id",
        "description" : "Delete one certificate by id",
        "operationId" : "deleteCert",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The certificate id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "certificates" ],
        "summary" : "Update one certificate by id",
        "description" : "Update one certificate by id",
        "operationId" : "putCert",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The certificate id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Certificate"
          },
          "description" : "The certificate to update"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Certificate"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "certificates" ],
        "summary" : "Update one certificate by id",
        "description" : "Update one certificate by id",
        "operationId" : "patchCert",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The certificate id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The certificate to update"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Certificate"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "certificates" ],
        "summary" : "Create one certificate",
        "description" : "Create one certificate",
        "operationId" : "createCert",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Certificate"
          },
          "description" : "The certificate to create"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Certificate"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/client-validators" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "validation-authorities" ],
        "summary" : "Get one validation authorities by id",
        "description" : "Get one validation authorities by id",
        "operationId" : "findClientValidatorById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The auth. config id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ValidationAuthority"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "delete" : {
        "deprecated" : false,
        "tags" : [ "validation-authorities" ],
        "summary" : "Delete one validation authorities by id",
        "description" : "Delete one validation authorities by id",
        "operationId" : "deleteClientValidator",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The validation authorities id"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Deleted"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "put" : {
        "deprecated" : false,
        "tags" : [ "validation-authorities" ],
        "summary" : "Update one validation authorities by id",
        "description" : "Update one validation authorities by id",
        "operationId" : "updateClientValidator",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The validation authorities id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ValidationAuthority"
          },
          "description" : "The validation authorities to update"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ValidationAuthority"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "patch" : {
        "deprecated" : false,
        "tags" : [ "validation-authorities" ],
        "summary" : "Update one validation authorities by id",
        "description" : "Update one validation authorities by id",
        "operationId" : "patchClientValidator",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "type" : "string",
          "description" : "The validation authorities id"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Patch"
          },
          "description" : "The validation authorities to update"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ValidationAuthority"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      },
      "post" : {
        "deprecated" : false,
        "tags" : [ "validation-authorities" ],
        "summary" : "Create one validation authorities",
        "description" : "Create one validation authorities",
        "operationId" : "createClientValidator",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ValidationAuthority"
          },
          "description" : "The validation authorities to create"
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue :)"
          },
          "404" : {
            "description" : "Resource not found or does not exist"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/ValidationAuthority"
            }
          }
        },
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ]
      }
    },
    "/api/snowmonkey/config" : {
      "get" : {
        "deprecated" : false,
        "tags" : [ "snowmonkey" ],
        "summary" : "Get current Snow Monkey config",
        "description" : "Get current Snow Monkey config",
        "operationId" : "getSnowMonkeyConfig",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed with 'Otoroshi-Client-Id' and 'Otoroshi-Client-Secret' headers, or use basic http authentication"
          },
          "400" : {
[...]
