@import models.PrivateAppsUser

@(userOpt: Option[PrivateAppsUser], _env: otoroshi.env.Env)

@main(s"Otoroshi private apps (${_env.env})", _env, userOpt) {
    <div class="jumbotron">
        <h3 style="color: white;margin-bottom:40px"><span>おとろし - Private apps</span></h3>
        @for(user <- userOpt) {
            <p class="connectOK">
                <a class="btn" href="@routes.AuthController.confidentialAppLogout()" role="button">
                    <span class="glyphicon glyphicon-off"></span> Logout
                </a>
            </p>
        }
        @if(userOpt.isEmpty) {
            <p>
                <a class="btn btn-lg" href="@routes.AuthController.confidentialAppLoginPage()" role="button">Login</a>
            </p>
        }
        <p style="color: #ddd;
            text-align: justify">
            If you have been redirected here after login to an app, it means something went wrong (like you waited too much time before actually log in).
        </p>
        <p style="color: #ddd;
            text-align: justify">
            Please try to reload the original url of your app (do not try to reload this page) to trigger a new login.
        </p>
        <p><img class="logoOtoroshi" src="@(_env.otoroshiLogo)" /></p>
    </div>
}
