@import env.Env

@(_env: Env, config: security.Auth0Config)

@customStyle = {
    <style>
        #a0-lock .a0-icon-badge {
            display: none !important;
        }
        #a0-lock.a0-theme-default .a0-panel button.a0-primary {
            background-color: #465059 !important;
        }
    </style>
}

@authScript = {
    <script src="https://cdn.auth0.com/js/lock/11.2.2/lock.js"></script>
    <script>
        $(document).ready(function() {
            var AUTH0_CLIENT_ID = '@config.clientId';
            var AUTH0_DOMAIN = '@config.domain';
            var AUTH0_CALLBACK_URL = '@config.callbackURL';
            var lock = new Auth0Lock(AUTH0_CLIENT_ID, AUTH0_DOMAIN, {
                auth: {
                    redirectUrl: AUTH0_CALLBACK_URL,
                    responseType: "code",
                    redirect: true,
                    autoParseHash: false,
                },
                allowForgotPassword: true,
                closable: false,
                theme: {
                    labeledSubmitButton: false,
                    logo: "/assets/images/otoroshi-logo-xmas.png",
                    primaryColor: "#f9b000",
                    connectionName: {
                        primaryColor: "#f9b000", 
                    }
                },
                languageDictionary: {
                    title: "Otoroshi apps."
                },
                icon: "/assets/images/otoroshi-logo-xmas.png"
            });
            lock.show();
        });
    </script>
}

@main("Login to user admin", _env, moreScripts = authScript, moreStyles = customStyle) {
}