
.metrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $secondaryBgColor;
  height: 100px;
  margin: 10px;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: bold;
  color: #fff;

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  &__text {
    z-index: 103;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__box {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative;
    margin-top: 10px;
  }
  &__text--value{
    text-shadow: rgb(0, 0, 0) 1px 1px, rgb(0, 0, 0) -1px 1px, rgb(0, 0, 0) -1px -1px, rgb(0, 0, 0) 1px -1px;
  }

  &__text--title{
    text-shadow: rgb(0, 0, 0) 1px 1px, rgb(0, 0, 0) -1px 1px, rgb(0, 0, 0) -1px -1px, rgb(0, 0, 0) 1px -1px;
    font-size: 22px;
    font-weight: normal;
    margin-top: 5px;
  }
}
