.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  margin: 0 auto;
  overflow: hidden;
  @media screen and (min-width: $bp1) {
    width: 50%;
  }
}

.modal-dialog {
  width: 80%;
  margin: 30px auto;
}

.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  position: relative;
  background-color: $primaryBgColor;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid $primaryColor;
  font-size: 18px;
}

.modal-body {
  position: relative;
  padding: 15px;
  font-size: 16px;
  word-wrap: anywhere;

  label {
    font-size: 14px;
  }

  .form-group {
    margin-top: 30px;
  }

  strong {
    color: $infoColor;
  }
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid $primaryColor;
}

pre {
  //height: 600px; mis en com suite au bloc Request transformers
}
