.table {
  color: $tertiaryColor;

  tr {
    // cursor: pointer;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $secondaryBgColor;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: $secondaryBgColor;
  color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th,
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: none;
}

thead > tr,
thead > tr > td > span {
  color: $textColor;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: $secondaryBgColor;
  border-color: $textColor;
}

.pagination > li > a,
.pagination > li > span {
  background: none;
  color: $textColor;
}

.titleTable {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
}

.active > .titleTable {
  background-color: $infoColor;
  color: #fff;
  border: thin solid $tertiaryColor;
}

.titleTable:hover {
  background-color: lighten($infoColor,5%);
  color: #fff;
}

thead {
  background-color: lighten($infoColor,5%);
}

.fa-download {
  cursor: pointer;
  //color: $infoColor;
}

.table-liste {
  flex: 1 1 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.link-service {
  color: $textColor;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.formAdd {
  text-align: center;
}

.loadingPage {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  transition: all .3s ease;
  z-index: 2;
  pointer-events: none;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
  width: 130px;
  align-items: center;
  justify-content: center;
}

.table-condensed > tbody > tr > td, .table-condensed > thead > tr > td  {
  padding: 5px;
}

thead>tr {
  color: #fff;
}
