body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 1.5rem !important;
}


#root {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
}

.cm-focused {
  outline: none !important;
}

.sidebar-header {
  background-color: rgb(255 255 255);
  padding: 6px 12px;
  border-radius: 4px;
  color: #000;
  margin: 6px;
}

.scroll-container {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  overflow-y: scroll;
  flex: 1 1 auto;
  height: 0px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

[tooltip] {
	position: relative;
	cursor: pointer;
}

[tooltip]::before,
[tooltip]::after {
	text-transform: none;
	font-size: 0.75em;
	line-height: 1;
	user-select: none;
	pointer-events: none;
	position: absolute;
	display: none;
	opacity: 1;
  min-width: 70px;
}

[tooltip]::after {
	content: attr(tooltip);
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 8px;
	border-radius: 3px;
	background: #000;
	color: #fff;
	z-index: 1000;
  margin-top: 4px;
  margin-left: -70px;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
	display: block;
}