body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 1.5rem !important;
}


#root {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
}

.cm-focused {
  outline: none !important;
}

.project-confirm-box:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 24px solid #fff;
  border-bottom: 24px solid #fff;
  border-right: 16px solid #ddd;
}

.sidebar-header {
  background-color: rgb(255 255 255);
  padding: 6px 12px;
  border-radius: 4px;
  color: #000;
  margin: 6px;
}

.scroll-container {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  overflow-y: scroll;
  flex: 1 1 auto;
  height: 0px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}