logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/*.rdb
/.ensime_cache/
/ensime-langserver.log
/pc.stdout.log
/leveldb
/filedb
/leveldb-old
/.ensime
/.bloop
/otoroshi.jks
/root-dir
/app-2.12
companion.scala
companion.txt
