body {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 500;
  background-color: $fondBody;
  color: $grisTexte;
}
#app{
  padding-top: 60px;
  padding-bottom: 20px;
}
a,
a:hover {
  color: $primaryColor
}

.main {
  padding-right: 40px;
  padding-left: 40px;
  margin-top: -20px;
}
.page-header {
  margin-top: 32px;
  border-bottom-color: $primaryColor;
  margin-left: 25px
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.menu {
  float: left;
  color: #fff
}

.page-header,h3,
h4 {
  color: $primaryColor
}


@mixin h3fixed{
  position: fixed;
  background-color: #373735;
  width: 100%;
  z-index: 110;
  margin-left: -25px;
}
.fixedH3 {
  @include h3fixed;
  // height: 130px;
}

.fixedH3withoutHeight {
 @include h3fixed;
}

.fixedH3+.row, .fixedH3withoutHeight+.row {
  padding-top: 88px
}


@media only screen and (max-width:767px) {
  .backoffice-container {
    margin-top: 56px
  }
}

.backoffice-container>h3+.row {
    margin-left: 0px;
    margin-right: -10px;
}
.backoffice-container>.row {
    margin-left: 0px;
    // margin-right: -5px;
}
.backoffice-container .glyphicon-ok-sign,.backoffice-container .glyphicon-remove-sign{
    font-size: 16px;
    top: 4px;
}

.fa-globe,.glyphicon-ok-sign,.fa-lock {
  color:$savecolor;
}

.fa-unlock-alt, .glyphicon-remove-sign {
  color:orange;
}


.fa-question-circle-o{
  font-size: 13px;
  padding-bottom: 10px;
  position: absolute;
  margin-left: 5px;
  margin-top: -5px;
  padding-top: 8px;
  color: $colorBleue;
}


.backoffice-container  .label {
    margin-right: 5px;
}

.content{
  margin-top:50px;
}

.tab-content a,.tab-content a:hover {
  color: $grisTexte;
}

.nav-tabs.nav > li > a:focus, .nav-tabs.nav > li > a:hover {
  background-color: $primaryColor;
  cursor: pointer;
}

.logoOtoroshi {
    width: 240px;
    margin-top: 60px;
    margin-bottom: 0;
}

.snowMonkeyRunning {
  animation-name: snowMonkeyRunning;
  animation-duration: 5.82s;
  animation-timing-function: cubic-bezier(.36,.07,.19,.97);
  animation-iteration-count: infinite;
  z-index: 10000;
}

@keyframes snowMonkeyRunning {
  1%, 9% {
    transform: translate3d(-1px, 0, 0);
  }

  2%, 8% {
    transform: translate3d(2px, 0, 0);
  }

  3%, 5%, 7% {
    transform: translate3d(-4px, 0, 0);
  }

  4%, 6% {
    transform: translate3d(4px, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
}


