body {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 500;
  background-color: var(--bg-color_level1);
  color: var(--color_level1);
}

#app {
  padding-top: 52px;

  @media screen and (max-width: 767px) {
    padding-top: 80px;
  }

  padding-bottom: 20px;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.jumbotron {
  padding: 4rem 2rem;
}

a {
  color: var(--color_level1);
}

a:hover {
  color: var(--color-primary);
}

h3,
h4 {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .col-form-label {
    text-align: right;
  }
}

.hide {
  display: none !important;
}

.fa-question-circle {
  font-size: 13px;
  position: absolute;
  margin-left: 5px;
  margin-top: 4px;
  color: var(--color-blue);
  cursor: pointer;
  z-index: 100;
}

.view-stats {
  z-index: 106;
}

.view-stats:hover button {
  background-color: var(--bg-color_level3);
}

h1,
h2 {
  color: var(--text);
}