body {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 500;
  background-color: var(--bg-color_level1);
  color: $grisTexte;
}
#app {
  padding-top: 60px;
  @media screen and (max-width: 767px) {
    padding-top: 80px;
  }
  padding-bottom: 20px;
}
.main {
  padding-right: 40px;
  padding-left: 40px;
  @media screen and (max-width: 767px) {
    padding-left: 5px;
  }

  margin-top: -20px;
}

.jumbotron {
  padding: 4rem 2rem;
}

a,
a:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .col-form-label {
    text-align: right;
  }
}

.hide {
  display: none !important;
}

@mixin h3fixed {
  position: fixed;
  background-color: #373735;
  width: 100%;
  z-index: 110;
  margin-left: -25px;
}
.fixedH3 {
  @include h3fixed;
}

.fixedH3 + .row {
  padding-top: 90px;
}

.fa-question-circle {
  font-size: 13px;
  position: absolute;
  margin-left: 5px;
  margin-top: 4px;
  color: var(--color-blue);
  cursor: pointer;
  z-index: 100;
}
