body {
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 500;
  background-color: $fondBody;
  color: $grisTexte;
}

a,
a:hover {
  color: $primaryColor
}

.main {
  padding-right: 40px;
  padding-left: 40px;
  margin-top: -20px;
}
.page-header {
  margin-top: 32px;
  border-bottom-color: $primaryColor;
  margin-left: 25px
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.menu {
  float: left;
  color: #fff
}

.page-header,h3,
h4 {
  color: $primaryColor
}


@mixin h3fixed{
  position: fixed;
  background-color: #373735;
  width: 100%;
  z-index: 110;
  margin-left: -25px;
}
.fixedH3 {
  @include h3fixed;
  // height: 130px;
}

.fixedH3withoutHeight {
 @include h3fixed;
}

.fixedH3+.row, .fixedH3withoutHeight+.row {
  padding-top: 88px
}


@media only screen and (max-width:767px) {
  .backoffice-container {
    margin-top: 56px
  }
  .sidebar {
    display: none;
    width: 100%
  }
}

.backoffice-container>h3+.row {
    margin-left: 0px;
    margin-right: -10px;
}
.backoffice-container>.row {
    margin-left: 0px;
    // margin-right: -5px;
}
.backoffice-container .glyphicon-ok-sign,.backoffice-container .glyphicon-remove-sign{
    font-size: 16px;
    top: 4px;
}

.backoffice-container  .label {
    margin-right: 5px;
}

.content{
  margin-top:50px;
}

.tab-content a,.tab-content a:hover {
  color: $grisTexte;
}

.nav-tabs.nav > li > a:focus, .nav-tabs.nav > li > a:hover {
  background-color: $primaryColor;
  cursor: pointer;
}

.logoOtoroshi {
    width: 240px;
    margin-top: 60px;
    margin-bottom: 0;
}
