.card-picto {
  top: 6px;
  right: 6px;
  border-radius: 50%;
  background: rgb(249, 176, 0);
  opacity: 0.6;
  color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bgColor 2s infinite alternate;
}

.heatmap-loading {
  height: 316px;
  width: 972px;
}

.heatmap-container--mini {
  display: grid;
  grid-template-rows: repeat(1, 35px);
  grid-template-columns: 100px repeat(24, 35px);
  gap: 3px;
  height: 35px;
  width: 1012px;
  margin-bottom: 15px;
}

.heatmap-container {
  display: grid;
  grid-template-rows: repeat(7, 35px) 50px;
  grid-template-columns: 100px repeat(24, 35px);
  gap: 3px;
  height: 316px;
  width: 1012px;
}

.heatmap-date {
  &:hover {
    text-decoration: underline;
  }
}


.heatpoint {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.heatmap-section {
  background-color: var(--bg-color_level2);
}

.heatpoint {
  &.high {
    background-color: #216e39;
  }

  &.medium-high {
    background-color: #30a14e;
  }

  &.medium-low {
    background-color: #40c463;
  }

  &.low {
    background-color: #9bE9a8;
  }

  &.nul {
    background-color: #ebedf0;
  }
}

@keyframes bgColor {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.6;
  }
}