.navbar-inverse {
  background-color: $fondNavbar;
  background-image: none;
  border: none;

  .navbar-brand {
    -webkit-flex-direction: row;
    flex-direction: row;
    color: #fff;
    font-weight: 700;
    text-shadow: none;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      margin-left: 0;
    }
    @media screen and (max-width: 767px) {
      margin-top: -56px;
    }
    @media screen and (max-width:1200px) {
      font-size: 14px;
    }
    @media screen and (max-width:1300px) {
      flex-direction: column;
    }
  }

  .navbar-nav > li {
    > a {
      color: $colorGris;
    }

    .dropdown-menu {
      margin-top: -1px;
      background-color: $fondBody;
      overflow-y: auto;
      max-height: calc(100vh - 53px);
    }

    > a:focus,
    > a:hover {
      color: $primaryColor;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:focus,
  .navbar-nav > .open > a:hover {
    background-color: $fondBody;
    background-image: none;
    color: $primaryColor;
  }

  .navbar-right > li {
    display: inline-block;

    > a {
      color: $primaryColor;

      &:focus,
      &:hover {
        background: none;
        cursor: pointer;
      }
    }
  }
}

.navbar-header {
  height: 52px;
  background-color: $primaryColor;
}

.navbar-inverse .navbar-nav > li > a {
  color: $primaryColor;
}

.fa-cog {
  font-size: 1.5em;
  top: 5px;
  color: #fff;
  @media screen and (min-width:768px) {
    padding-right: 15px;
  }
}

.fa-lightbulb, .fa-moon{
  color: #fff;
}

#navbar .Select-control {
  border: 1px solid #ccc;
}

.nav > li > a {
  padding: 15px;
}

.monkeyMenu{
  width: 24px;
  margin-left: -4px;
}

@media screen and (min-width:767px) {
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

@media screen and (max-width:767px) {
  #navbar {
    .navbar-left.nav > li {
      display: inline-block;
    }

    .Select-control {
      width: 100% !important;
    }
  }

  .link-logout {
    text-align: center;
  }

  .navbar-right {
    margin-top: -53px;
    float: right;
    position: absolute;
    right: 15px;
    z-index: 1;
    .userManagement a {
        text-align: right;
    }
  }

  .navbar-form {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
  }

  .navbar-collapse.in {
    overflow-y: inherit;
    margin-top: 60px;
  }
}
