.navbar {
  background-color: $fondNavbar;
  padding-top: 0;
  padding-bottom: 0;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-header {
    height: 52px;
    background-color: $primaryColor;
    a {
      color: #fff;
    }
  }

  form#navbar .Select-control {
    border: 1px solid #ccc;
  }

  .navbar-right {
    height: 52px;
    .fa-cog {
      font-size: 1.5em;
      &:hover {
        cursor: pointer;
      }
    }

    .fa-lightbulb,
    .fa-moon,
    .fa-cog {
      color: #fff;
    }

    .monkeyMenu {
      width: 24px;
      margin-left: -4px;
    }
  }
}
