.navbar {
  background-color: var(--bg-color_level2);
  padding-top: 0;
  padding-bottom: 0;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-header {
    height: 52px;
    background-color: var(--color-primary);

    a {
      color: var(--color-white);
    }

    @media screen and (min-width: 768px) {
      width: 250px;
    }
  }

  form#navbar .Select-control {
    border: 1px solid var(--bg-color_level3);
  }

  .navbar-right {
    height: 52px;

    .fa-cog {
      font-size: 1.5em;

      &:hover {
        cursor: pointer;
      }
    }

    .fa-lightbulb,
    .fa-moon,
    .fa-cog {
      color: var(--color_level1);
    }

    .monkeyMenu {
      width: 24px;
      margin-left: -4px;
    }
  }
}

.custom-dropdown {
  position: fixed;
  z-index: 1050;
  top: 0;
  bottom: 0;
  height: 100dvh;
  right: 0;
  transition: max-width 0.5s, right 0.5s;
  max-width: 270px;
  background-color: var(--bg-color_level2);
  list-style-type: none;
  padding-inline-start: 12px;
  padding-right: 12px;

  >li:nth-child(1) {
    margin-top: .5rem;
  }

  >li:nth-child(2) {
    margin-top: 1rem;
  }

  li>a>*:first-child {
    margin-right: 6px;
  }

  >li>a {
    padding: .5rem;
    color: var(--color_level1);

    .otoroshi_logo .st0 {
      fill: var(--color_level3);
    }

    &:focus,
    &:hover {
      background-image: none;
      background-color: var(--bg-color_level3);
      color: var(--color_level3);

      .otoroshi_logo {
        .st0 {
          fill: var(--color_level3);
        }
      }

      .monkeyMenu {
        margin-left: -8px;
      }
    }
  }

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .dropdown-toggle:hover {
    background-color: var(--bg-color_level1) !important;
  }

  &.closed-dropdown {
    max-width: 0;
    right: -200px;
    transition: max-width 0.5s, right 0.5s;
  }

  .dropdown-divider {
    border-color: var(--bg-color_level2);
  }
}

@media screen and (min-width: 768px) {
  .position-md-absolute {
    position: absolute !important;
  }

  .top-md-0 {
    top: 0;
  }
}