.navbar-inverse {
    background-color: $fondNavbar;
    background-image: none;
    border: none;
      .navbar-brand {
        -webkit-flex-direction: row;
        flex-direction: row;
        color: #fff;
        font-weight: 700;
        text-shadow: none;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 18px;
        cursor: pointer;
    }
    .navbar-nav>li {
        >a{
        color: $colorGris;
        }
        .dropdown-menu {
            margin-top: -1px;
        }
        >a:hover, >a:focus {
            color : $primaryColor;
        }
    }

    .navbar-nav>.active>a, .navbar-nav>.open>a,.navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover {
        background-color: $fondBody;
        background-image: none;
        color: $primaryColor;
    }

   .navbar-right > li > a {
        color: $primaryColor;
        &:focus,&:hover {
            background:none;
            cursor: pointer;
        }
    }

  i.glyphicon.glyphicon-off {
    margin-left: 4px;
  }
}

.navbar-header {
    height: 52px;
    background-color: $primaryColor;
}

.navbar-inverse .navbar-nav>li>a, .glyphicon-cog {
	color: $primaryColor;
}
.fa-cog {
	font-size: 1.5em;
	top: 5px;
}

#navbar .Select-control {
    border: 1px solid #ccc;
}

  .nav > li > a {
     padding: 15px 15px;
}

@media (max-width:1300px) {
  .navbar-inverse .navbar-brand {
    flex-direction: column;
  }
}

@media (max-width:1200px) {
  .navbar-inverse .navbar-brand {
    font-size: 14px
  }
}

@media screen and (min-width:768px) and (max-width: 1000px) {
  .topbar-adminAlert  {
    display: none;
  }
}
@media screen and (min-width:768px) and (max-width: 850px) {
  .topbar-userName{
    display: none;
  }
}

@media (max-width:767px) {
#navbar .navbar-left.nav>li {
    display: inline-block;
}
}
