/*ACCUEIL*/
.accueil {
  margin-top: -60px;
  font-family: Raleway, Helvetica, sans-serif;

  .navbar-brand,
  .navbar-nav > li > a {
    text-shadow: none;
  }

  .navbar-right > li > a {
    .glyphicon {
      margin-left: 2px;
    }

    &:hover {
      background: none;
      cursor: pointer;
      color: lighten($primaryColor,10%);
    }
  }

  .navbar-brand {
    background-color: $primaryColor;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.5s;
    flex-direction: column;
    text-align: center;

    &:hover {
      background-color: lighten($primaryColor,5%);
    }
  }

  .jumbotron {
    background-color: #494948;
    padding-top: 20px;
    margin-top: 20px;

    h1 {
      text-align: center;
      color: #fff;
      font-weight: 700;
      margin-bottom: 40px;
    }

    .form-horizontal .form-group{
      margin-right: 0px;
    }
  }

  .btnsAccueil {
    margin-bottom: 10px;
  }

  .homeProductCard {
    border-radius: 5px;
    margin: 5px;
    border: 1px solid $primaryColor;
    transition-duration: 0.5s;

    &:hover {
      background-color: $primaryColor;

      .title-card {
        color: #fff;
      }
    }

    h4 {
      text-align: center;
      font-size: 18px;
    }

    .title-card {
      color: $primaryColor;
      transition-duration: 0.5s;
    }
  }

  .containerLogo {
    text-align: center;
  }

  .logo_Omoikane {
    width: 240px;
    margin-top: 40px;
    animation-name: floatInSpace;
    -webkit-animation-name: floatInSpace;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-duration: 15s;
    -webkit-animation-duration: 15s;
  }

  .logo_OmoikaneDashboard {
    width: 240px;
  }
  @keyframes floatInSpace {
    0% {
      transform: perspective(500px) translate3d(2px, 1px, 0px);
    }

    8% {
      transform: perspective(500px) translate3d(5px, -2px, -3px);
    }

    16% {
      transform: perspective(500px) translate3d(8px, 1px, -7px);
    }

    24% {
      transform: perspective(500px) translate3d(10px, 2px, -10px);
    }

    32% {
      transform: perspective(500px) translate3d(7px, 4px, -13px);
    }

    40% {
      transform: perspective(500px) translate3d(6px, 6px, -17px);
    }

    48% {
      transform: perspective(500px) translate3d(4px, 7px, -20px);
    }

    56% {
      transform: perspective(500px) translate3d(1px, 6px, -17px);
    }

    64% {
      transform: perspective(500px) translate3d(-2px, 7px, -13px);
    }

    73% {
      transform: perspective(500px) translate3d(-2px, 4px, -10px);
    }

    81% {
      transform: perspective(500px) translate3d(-4px, 3px, -7px);
    }

    91% {
      transform: perspective(500px) translate3d(-2px, 2px, -3px);
    }

    100% {
      transform: perspective(500px) translate3d(2px, 1px, 0px);
    }
  }
  @-webkit-keyframes floatInSpace {
    0% {
      transform: perspective(500px) translate3d(2px, 1px, 0px);
    }

    8% {
      transform: perspective(500px) translate3d(5px, -2px, -3px);
    }

    16% {
      transform: perspective(500px) translate3d(8px, 1px, -7px);
    }

    24% {
      transform: perspective(500px) translate3d(10px, 2px, -10px);
    }

    32% {
      transform: perspective(500px) translate3d(7px, 4px, -13px);
    }

    40% {
      transform: perspective(500px) translate3d(6px, 6px, -17px);
    }

    48% {
      transform: perspective(500px) translate3d(4px, 7px, -20px);
    }

    56% {
      transform: perspective(500px) translate3d(1px, 6px, -17px);
    }

    64% {
      transform: perspective(500px) translate3d(-2px, 7px, -13px);
    }

    73% {
      transform: perspective(500px) translate3d(-2px, 4px, -10px);
    }

    81% {
      transform: perspective(500px) translate3d(-4px, 3px, -7px);
    }

    91% {
      transform: perspective(500px) translate3d(-2px, 2px, -3px);
    }

    100% {
      transform: perspective(500px) translate3d(2px, 1px, 0px);
    }
  }
}
