.sidebar {
  background: var(--bg-color_level2);
  position: relative;
  min-width: 250px;
  max-width: 250px;
  z-index: 1001;
  display: block;
  border-right: none;
  transition: all 100ms ease;

  padding-right: 0 !important;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
    
  a{
    color: var(--color_level3);
    font-size: 16px;
    // text-transform: uppercase;
    height: 32px;
    &.active {
      color: var(--color-primary);
    }
    &:hover{
      color: var(--color_level3);
    }
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
  }
  
  .sidebar-container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .sidebar-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  // .sidebar-bloc {
  //   margin-left: -5px;
  //   margin-bottom: 20px;

  //   > li > a {
  //     padding: 5px 10px 5px 36px;
  //     &.active {
  //       color: var(--color-primary);
  //     }
  //   }
  // }

  .nav > li > a {
    &:hover {
      background-color: var(--bg-color_level3);
      color: var(--color_level3);
      border-color: var(--color-primary);
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.icon-menu {
  background: var(--color_level1);
  width: 14px;
  height: 14px;
}

.sidebar--closed {
  min-width: 52px;
  max-width: 52px;
}

.bottom-sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

.sidebar-toggle {
  position: absolute;
  top: 42px;
  right: -6px;

  opacity: .7;
  background-color: var(--bg-color_level2);
  padding: .5rem;
  border-radius: 50%;

  width: 22px;
  height: 22px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
    top: 141px;
    width: 100%;
  }
  .collapse.show {
    display: block;
  }

  .nav-sidebar>li>a>h3>i {
    margin-right: 0 !important;
  }
}
