.sidebar {
  background: -moz-linear-gradient(top, var(--bg-color_level1) 1%, var(--bg-color_level2) 100%);
  background: -webkit-linear-gradient(top, var(--bg-color_level1) 1%, var(--bg-color_level2));
  background: linear-gradient(180deg, var(--bg-color_level1) 1%, var(--bg-color_level2));
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1001;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: none;
  transition: all 150ms ease;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  .active a {
    color: var(--color-primary);
  }

  a {
    color: var(--color_level1);
  }

  h2 a,
  h3 {
    color: var(--color-primary);
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
  }

  i {
    margin-right: 5px;
  }

  .sidebar-container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .sidebar-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .sidebar-bloc {
    margin-right: -21px;
    margin-left: -20px;
    margin-bottom: 20px;

    > li > a {
      padding: 5px 10px 5px 36px;
      &.active {
        color: var(--color-primary);
      }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.bottom-sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
    top: 141px;
    width: 100%;
  }
  .collapse.show {
    display: block;
  }
}
