
aside,.aside {
  display: flex;
  width: 100%;
  @media screen and (min-width: $bp1) {
    width: 20%;
  }
  @media screen and (max-width: $bp1) {
      display: none;
  }


  background: -moz-linear-gradient(top, #373735 1%, #494948 100%);
  background: -webkit-linear-gradient(top, #373735 1%, #494948);
  background: linear-gradient(180deg, #373735 1%, #494948);
  position: fixed;
  flex-direction: column;
  height: 100vh;
  z-index: 1000;
}

.sidebar-content {
  li {
    position: relative;
    display: block;

    a {
      transition-duration: 1s;
      padding: 5px 10px 5px 36px;
      position: relative;
      display: block;
      &:focus, &:hover {
        background-color: #9e9e9e;
        color: #fff;
        border-color: $primaryColor;
      }
      i {
        margin-right: 5px;
      }
      &.active {
        color: $primaryColor;
      }
    }
  }

  h2 {
    color: $primaryColor;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 20px;

    a {
      padding: 5px 0 5px 30px;
      margin-left: -30px;
      display: block;
      transition-duration: 1s;
      color: $primaryColor;
    }
  }

  .active a {
    color: $primaryColor;
  }
}


