.main {
  overflow: auto;
  padding: 0px 20px;
  @media screen and (min-width: $bp-xs) {
    margin-left: 20%;
  }
}

.title {
  border-bottom: 1px solid $primaryColor;
  padding-bottom: 9px;
  margin-bottom: 20px;
}

.title__fixed {
  position: fixed;
  background-color: #373735;
  width: 100%;
  z-index: 110;
  padding-top: 20px;
  +div{
    padding-top: 80px;
  }
}