@import otoroshi.models.BackOfficeUser

@(thridPartyLoginEnabled: Boolean, userOpt: Option[BackOfficeUser], request: Request[AnyContent], _env: otoroshi.env.Env)

@unauthmain(s"Otoroshi Dashboard", _env) {
    <div class="login-card mt-5">
        <img src=@(_env.otoroshiLogo) />
        @for(user <- userOpt) {
            <p class="connectOK">
                <a class="btn" href="@otoroshi.controllers.routes.BackOfficeController.dashboard" role="button">
                    <i class="fas fa-tachometer-alt"></i> Dashboard for @user.name
                </a>
                <a class="btn" href="@otoroshi.controllers.routes.AuthController.backOfficeLogout()" role="button">
                    <span class="glyphicon glyphicon-off"></span> Logout
                </a>
            </p>
        }
        @if(userOpt.isEmpty) {
           <p class="login-card-body">
           @if(thridPartyLoginEnabled) {
               <a class="btn btn-primaryColor btn-lg" href="@otoroshi.controllers.routes.AuthController.backOfficeLogin()" role="button">Login using third-party</a>
            }
            <a class="btn btn-primaryColor btn-lg" href="@otoroshi.controllers.routes.U2FController.loginPage()" role="button">Login</a></p>
        }
    </div>
}
