@import models.BackOfficeUser
@import models.GlobalConfig

@(user: BackOfficeUser, config: GlobalConfig, _env: env.Env, version: String)

@moreScripts = {
    <script src="@routes.Assets.versioned("javascripts/d3.v3.min.js")"></script>
    <script type="text/javascript">
        window.__title = '@_env.title';
        window.__isDev = @_env.liveJs;
        window.__env = '@_env.env';
        window.__userid = '@user.email';
        window.__apiReadOnly = @config.apiReadOnly;
        window.__u2fLoginOnly = @config.u2fLoginOnly;
        window.__currentVersion = '@version';
        Otoroshi.init(document.getElementById("app"));
    </script>
}

@main(_env.title, user, _env, moreScripts = moreScripts) {
    <div id="app"></div>
}
