@(service: ServiceDescriptor, _env: env.Env)

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link href="@routes.Assets.versioned("fonts/roboto/roboto.css")" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/swagger-ui/swagger-ui.css" >
        <style>
            #swagger-ui {
                background-color: white;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
            }
            #swagger-ui .topbar {
                display: none;
            }
            #swagger-ui .endpoints {
                padding-left: 0px !important;
            }
            #swagger-ui #resources {
                padding-left: 0px !important;
            }
        </style>
    </head>
    <body>
        <div id="swagger-ui"></div>
        <script src="/assets/swagger-ui/swagger-ui-bundle.js"> </script>
        <script src="/assets/swagger-ui/swagger-ui-standalone-preset.js"> </script>
        <script>
          SwaggerUIBundle({
            url:'@routes.BackOfficeController.documentationFrameDescriptor(service.env, service.id)',
            dom_id: '#swagger-ui',
            presets: [
              SwaggerUIBundle.presets.apis,
              SwaggerUIStandalonePreset
            ],
            plugins: [
              SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout"
          });
        </script>
    </body>
</html>