@import models.BackOfficeUser

@(auth0Enabled: Boolean, userOpt: Option[BackOfficeUser], request: Request[AnyContent], _env: env.Env)

@unauthmain(s"Otoroshi Dashboard", _env) {
    <div class="jumbotron">
        <h1><span>おとろし</span></h1>
        @for(user <- userOpt) {
            <p class="connectOK">
                <a class="btn" href="@routes.BackOfficeController.dashboard()" role="button">
                    <i class="fa fa-tachometer"></i> Dashboard for @user.name
                </a>
                <a class="btn" href="@routes.Auth0Controller.backOfficeLogout()" role="button">
                    <span class="glyphicon glyphicon-off"></span> Logout
                </a>
            </p>
        }
        @if(userOpt.isEmpty) {
           <p>
           @if(auth0Enabled) {
                <a class="btn btn-lg" href="@routes.Auth0Controller.backOfficeLogin()" role="button">Login using third-party</a>
            }
            <a class="btn btn-lg" href="@routes.U2FController.loginPage()" role="button">Login</a></p>
        }
        <p><img class="logoOtoroshi" src="/__otoroshi_assets/images/otoroshi-logo-color.png" /></p>
    </div>
}
