@import env.Env

@(_env: Env)

@authScript = {
    @if(_env.liveJs) {
        <script src="//localhost:3040/assets/javascripts/bundle/backoffice.js" type="text/javascript"></script>
    } else {
        <script type="text/javascript" src="@routes.Assets.versioned(s"javascripts/bundle/backoffice.js?v=${_env.hash}")"></script>
    }
    <script>
        Otoroshi.login(document.getElementById("app"), '@(_env.otoroshiLogo)');
    </script>
}

@authStyle = {
    @if(_env.liveJs) {
        <link rel="stylesheet" href="//localhost:3040/assets/javascripts/bundle/backoffice.css">
    } else {
        <link rel="stylesheet" href="@routes.Assets.versioned(s"javascripts/bundle/backoffice.css?v=${_env.hash}")">
    }
}

@unauthmain("Login to Otoroshi dashboard", _env, moreScripts = authScript, moreStyles = authStyle) {
    <div id="app"></div>
}