apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: plugins.proxy.otoroshi.io
spec:
  group: proxy.otoroshi.io
  names:
    kind: Plugin
    plural: plugins
    singular: plugin
  scope: Namespaced
  versions:
  - name: v1
    served: true
    storage: true
    deprecated: false
    schema:
      openAPIV3Schema:
        x-kubernetes-preserve-unknown-fields: true
        type: object