name: Build & Test
on:
  push:
    paths:
    - 'otoroshi/**'
  pull_request:
    paths:
    - 'otoroshi/**'
    

jobs:
  test-otoroshi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.2.0
    # setup java to use sbt
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: install sbt
      uses: sbt/setup-sbt@v1.1.5
     # setup node to use yarn
    - uses: actions/setup-node@v2
      with:
        node-version: '18'
    #test oto
    - name: install playwright dependencies
      run: |
        sudo apt-get install libwoff1 \
          libvpx9 \
          libevent-2.1-7t64 \
          libopus0 \
          libgstreamer-plugins-base1.0-0 \
          libgstreamer-gl1.0-0 \
          libgstreamer-plugins-bad1.0-0 \
          libharfbuzz-icu0 \
          libsecret-1-0 \
          libhyphen0 \
          libmanette-0.2-0 \
          libflite1 \
          libgles2 \
          gstreamer1.0-libav
    - uses: coursier/cache-action@v6
    - name: run-tests
      id: run-tests
      run: |
        sh ./scripts/build.sh test_all
