<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="WARN" />
  <logger name="play.core.server.netty.NettyModelConversion" level="ERROR" />

  <logger name="otoroshi-api-action" level="INFO" />
  <logger name="otoroshi-admin-api" level="INFO" />
  <logger name="otoroshi-auth0" level="INFO" />
  <logger name="otoroshi-backoffice-api" level="INFO" />
  <logger name="otoroshi-debu-api-proxy-issue" level="INFO" />
  <logger name="otoroshi-u2f-controller" level="INFO" />
  <logger name="otoroshi-local-dns" level="INFO" />
  <logger name="otoroshi-env" level="INFO" />
  <logger name="otoroshi-alert-actor" level="INFO" />
  <logger name="otoroshi-alerts" level="INFO" />
  <logger name="otoroshi-analytics-actor" level="INFO" />
  <logger name="otoroshi-analytics" level="INFO" />
  <logger name="otoroshi-analytics-elastic" level="INFO" />
  <logger name="otoroshi-analytics-webhook" level="INFO" />
  <logger name="otoroshi-circuit-breaker" level="INFO" />
  <logger name="otoroshi-error-handler" level="INFO" />
  <logger name="otoroshi-http-handler" level="INFO" />
  <logger name="otoroshi-websocket-handler" level="INFO" />
  <logger name="otoroshi-websocket-handler-actor" level="INFO" />
  <logger name="otoroshi-helth-checker" level="INFO" />
  <logger name="otoroshi-apkikey" level="INFO" />
  <logger name="otoroshi-global-config" level="INFO" />
  <logger name="otoroshi-service-descriptor" level="INFO" />
  <logger name="otoroshi-otoroshi-client-config" level="INFO" />
  <logger name="otoroshi-service-group" level="INFO" />
  <logger name="otoroshi-error-template" level="INFO" />
  <logger name="otoroshi-claim" level="INFO" />
  <logger name="otoroshi-cassandra-datastores" level="INFO" />
  <logger name="otoroshi-in-memory-apikey-datastore" level="INFO" />
  <logger name="otoroshi-in-memory-datastores" level="INFO" />
  <logger name="otoroshi-in-memory-service-datatstore" level="INFO" />
  <logger name="otoroshi-leveldb-datastores" level="INFO" />
  <logger name="otoroshi-redis-apikey-datastore" level="INFO" />
  <logger name="otoroshi-redis-datastores" level="INFO" />
  <logger name="otoroshi-redis-service-datastore" level="INFO" />
  <logger name="otoroshi-redis-store" level="INFO" />
  <logger name="otoroshi-redis" level="INFO" />
  <logger name="otoroshi-redis-like-store" level="INFO" />
  <logger name="otoroshi-clevercloud-client" level="INFO" />
  <logger name="otoroshi-swagger-controller" level="INFO" />
  <logger name="otoroshi-regex-pool" level="INFO" />
  <logger name="otoroshi-http-handler-debug" level="INFO" />
  <logger name="otoroshi-ssl-trust-manager" level="INFO" />
  <logger name="otoroshi-ssl-provider" level="INFO" />
  <logger name="otoroshi-cluster" level="INFO" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
  <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" />

  <root level="INFO">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
