@(url: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/png" href="/__otoroshi_assets/images/favicon.png">
        <link href="@routes.Assets.versioned("fonts/roboto/roboto.css")" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/__otoroshi_assets/swagger-ui/swagger-ui.css" >
        <style>
            body {
                margin: 0px;
            }
        </style>
    </head>
    <body>
        <div id="swagger-ui"></div>
        <script src="/__otoroshi_assets/swagger-ui/swagger-ui-bundle.js"> </script>
        <script src="/__otoroshi_assets/swagger-ui/swagger-ui-standalone-preset.js"> </script>
        <script>
          SwaggerUIBundle({
            url:'@url',
            dom_id: '#swagger-ui',
            presets: [
              SwaggerUIBundle.presets.apis,
              SwaggerUIStandalonePreset
            ],
            plugins: [
              SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout",
            docExpansion: 'none'
          });
        </script>
    </body>
</html>