@(message: String, _env: env.Env, title: String = "Otoroshi Error", error: Boolean = true)

@moreStyles = {
    <link rel="stylesheet" media="screen" href="/__otoroshi_assets/stylesheets/error.css">
}

@main("Otoroshi Error", _env, moreStyles = moreStyles) {
    <div class="jumbotron">
        @if(error) {
            <h2><i class="glyphicon glyphicon-warning-sign"></i> @title</h2>
        } else {
            <h2 style="color:white;">@title</h2>
        }
        <p class="lead">
            @message
        </p>
        <p><img class="logoOtoroshi" src="@(_env.otoroshiLogo)" /></p>
    </div>
}