@import env.Env

@import play.api.libs.json._

@(user: JsValue, session: String, webauthn: Boolean, _env: Env)

@authScript = {
@if(_env.liveJs) {
    <script src="//localhost:3040/assets/javascripts/bundle/backoffice.js" type="text/javascript"></script>
} else {
    <script type="text/javascript" src="@routes.Assets.versioned(s"javascripts/bundle/backoffice.js?v=${_env.hash}")"></script>
}
    <script>
        Otoroshi.selfUpdate({
          webauthn: @webauthn,
          session: '@session',
          user: @Html(Json.stringify(user))
        }, document.getElementById("app"));
    </script>
}

@main("Update your profile", _env, moreScripts = authScript) {
    <div id="app"></div>
}